[2017-01-29 00:05] waffleston opened #1 "Item duplication / not being removed from chest upon sale {1.3.0}"
[code]
There appears to be a glitch involving  item_id:**sub_id**.

Placing only "Polished Andesite" inside a chest selling "Stone" will result in the purchaser being given a "Stone", and the "Polished Andesite" not being removed from the seller's chest.

This also works conversely: Having only "Polished Andesite" in your inventory and buying something that costs "Stone", will result in the "Polis

[2017-01-29 09:35] SparklingComet commented on #1
Thank you for your report.
Is any stacktrace being thrown upon the trade?

[2017-01-29 17:55] waffleston commented on #1
No, there is not.

[2017-01-30 13:54] SparklingComet commented on #1
Okay, I will make sure to upload a patch ASAP.

[2017-06-18 13:29] oliverxsch opened #2 "64 Items are one ?"
Hi,
im testing in Minecraft 1.12 and when i want to sell 64 bones for one iron with a shop.
You can sell it too when you only have 63 bones or just one bone!
Nagerox

[2017-07-18 17:31] SparklingComet commented on #1
@KillerOfPie , was this fixed in your patch? If yes, the latest JAR from SpigotMC should contain the fix.

[2017-07-18 17:31] SparklingComet commented on #2
Copy pasting from #1:
@KillerOfPie , was this fixed in your patch? If yes, the latest JAR from SpigotMC should contain the fix.

[2017-07-18 18:43] waffleston commented on #1
The issue was partially fixed - the items are now exchanged and not duplicated or transmuted.  However, a chest selling "Stone" that contains "Polished Andesite" instead of "Stone" will give the player "Polished Andesite".

The converse still applies as well; a shop taking "Stone" will accept "Polished Andesite" as payment.

[2017-07-18 19:06] waffleston opened #4 "Full chest destroys payment / still gives item. {1.4.0 Beta}"
[code]
When a chest has no open spots for payment, the payment item is lost.

Example:
[code]
The chest is filled to the brim with 27 stacks of 64 stone.  A buyer approaches the chest and performs a trade.  The player is deducted 64 cobblestone and given one stone.  The chest, however, only deducts one stone and does not get the payment of 64 cobblestone.

---
No error is thrown in the console, an

[2017-07-18 19:14] SparklingComet commented on #1
I see. And you are sure it was not fixed in yesterday's patch?

[2017-07-18 19:19] SparklingComet commented on #4
This was unknown to me but should be easy to fix. You may expect a patch for this this week. (Provided, of course, that I can reproduce the issue first)

[2017-07-18 19:29] waffleston commented on #1
Yes, I grabbed the jar from spigot - it's named "tradeshop-1.4.0-BETA.jar", but the version text under "/tradeshop help" is "Tradeshop v1.3.0 by Lori00".

[2017-07-18 19:46] SparklingComet commented on #1
That is a distraction, you actually downloaded build 1.4.0-BETA. Will fix immediately, but you will need to wait for build 1.4.1 to see the correct version.

[2017-07-18 22:07] KillerOfPie commented on #2
Yes it was fixed in the latest patch

[2017-07-18 22:10] KillerOfPie commented on #1
Without a complete rewrite of the plugin this is the best that can be done as andesite is just a data value of Stone. So for now the best we can do is no duplication of items.

[2017-07-18 22:12] KillerOfPie commented on #4
@SparklingComet Never mind read that wrong, still know what is causing it though.
*Edited from original comment

[2017-07-18 23:35] SparklingComet commented on #2
Alright, thank you. Closing.

[2017-07-18 23:35] #2 closed, assigned to KillerOfPie, SparklingComet

[2017-07-18 23:38] SparklingComet commented on #1
@KillerOfPie andesite is the same Material as Stone, but the durability is different. ItemStack#getDurability() returns different values (if it's a tool such as a spade or a fishing rod, the actual durability is returned, otherwise, it's 0 for stone, 1 for andesite, etc).

All we have to do is write a function that compares these and this issue is fixed.

[2017-07-19 03:59] KillerOfPie commented on #1
@SparklingComet very aware of how they come out it was more of putting them on the sign although @waffleston did it a way I couldn't think of when i was initially making the update

[2017-07-19 10:13] SparklingComet commented on #1
Closing as it was fixed in #5 and subsequentially #6 .

[2017-07-19 10:13] #1 closed, assigned to KillerOfPie

[2017-07-19 11:27] SparklingComet commented on #4
@KillerOfPie Is this still a thing or was it fixed?

// EDIT:
Closed by mistake.

[2017-07-19 21:27] SparklingComet commented on #4
Fixed in @KillerOfPie 's PR (#6)
Thank you both very much.

[2017-07-19 21:27] #4 closed, assigned to SparklingComet

[2017-08-25 17:42] SparklingComet opened #23 "(Info) Label usage"
Explanation of the new label system for both PRs and Issues may be found [here](https://github.com/SparklingComet/TradeShop/wiki/Issue-&-Pull-Request-labels).

[2017-10-23 17:49] beautifulpoison opened #34 "New Custom Item trading not working"
So I figured out how to create the tradeshop on my own, created the custom items when I was holding each of them. Besides the issues in the photo, another issue is that when I create the TradeShop sign, it tells me the tradeshop is empty when it actually is not.

Photos of the other issue https://imgur.com/a/INv4C

[2017-10-23 18:26] SparklingComet commented on #34
Can we see your configuration? Also please check your console log for potential errors.

[2017-10-23 18:40] beautifulpoison commented on #34
Config: https://hastebin.com/wagewewebe.sql
Custom Items: https://hastebin.com/etusepimij.scala

No errors or messages in console.

[2017-10-23 18:43] KillerOfPie commented on #34
@beautifulpoison try using /getci <item name> for both your items and tell me what happens

[2017-10-23 18:45] beautifulpoison commented on #34
Unknown command

[2017-10-23 18:47] KillerOfPie commented on #34
/ts getci   sorry forget my 9wn commands sometimes

[2017-10-23 19:15] beautifulpoison commented on #34
![screen shot 2017-10-23 at 1 49 07 pm](https://user-images.githubusercontent.com/29660713/31908469-96a8663a-b7fc-11e7-9723-c8c51b73914a.png)

[2017-10-23 19:17] KillerOfPie commented on #34
Do '/ts getci votekey' and '/ts getci rank-upkey'

[2017-10-24 06:16] KillerOfPie commented on #34
@beautifulpoison I copied your config and custom items and tested it and it all seems to be working, i may have to hop on your server to test if you are still having the problem

Also if the Â is in there to make it a specific item that a player cant make(besides the enchantment) you can also just add blank color codes to the end, i.e
§aThe key to your dreams.§4§0§4 is not the same as §aThe key to

[2017-10-24 13:32] beautifulpoison commented on #34
Okay, the /ts getci works fine and gives me the keys as it's supposed to. No matter what I do, the crate does not work. You can come on my server but your access will be limited as this is on a server that hasn't been launched yet.

[2017-10-24 15:51] KillerOfPie commented on #34
That's fine, and you are sure there are no errors coming up in console?

[2017-10-24 15:58] beautifulpoison commented on #34
It still says the shop is empty with 154 keys in it... And the same thing in chat everytime..

[2017-10-24 15:59] beautifulpoison commented on #34
Nothing logs to console from the plugin when the shop is created or when the player is trying to buy

[2017-10-24 16:28] KillerOfPie commented on #34
What's the server ip, I'm going to work now but I'll be able to check it out tonight or tomorrow

[2017-10-24 16:39] beautifulpoison commented on #34
We got it working... I don't even know how.

[2017-10-24 16:51] KillerOfPie commented on #34
Cool, I don't either. But let us know if you have problems again

[2017-10-24 16:59] beautifulpoison commented on #34
For sure!

[2017-10-24 17:36] #34 closed, assigned to KillerOfPie

[2017-10-24 17:37] SparklingComet commented on #34
Closing. Feel free to reopen if you need help again.

[2017-11-19 13:46] Darksoul676 opened #38 "Error when interacting with a Tradeshop"
I'm currently running a 1.12 bukkit server with plugins and seem to have an error that posts to the console whenever a player interacts with a TradeShop sign, which prevents the sign itself from functioning correctly and doesn't post anything in-game. However, the error below posts to the console:

----------------------------------------------------------------------------------------------------

[2017-11-19 14:44] SparklingComet commented on #38
Thank you for your report, we are happy to hear that you are enjoying the plugin even though you encountered this bug.
Currently, a few bugs were fixed but the latest .jar file has not been uploaded to SpigotMC yet. Would you be willing to test it again with the new jar as soon as I update it on the website? The error is unlikely to disappear, but we will at least see the up-to-date stacktrace.

[2017-11-19 21:55] Darksoul676 commented on #38
Sure thing! I'll be sure to test it as soon as possible and report any errors here if/when they occur.

[2017-11-19 22:02] SparklingComet commented on #38
Excellent, thank you.
I will update the plugin’s page in a couple hours and notify you.

[2017-11-19 23:38] KillerOfPie commented on #38
@Darksoul676 Did you do anything with custom items? or did the error pop up while you were making a shop?

[2017-11-19 23:47] SparklingComet commented on #38
@Darksoul676 update’s out!

[2017-11-20 07:56] Darksoul676 commented on #38
@KillerOfPie I had been trying to test out custom items, yes, as I wanted to utilize the feature on my server in order to allow for a physical currency system that worked with admin/player shops. The error above posted to the console upon attempting to trade an emerald for the default 'Key' custom item.

[2017-11-20 08:07] KillerOfPie commented on #38
Have you tried the new update yet? @Darksoul676

[2017-11-20 08:09] Darksoul676 commented on #38
@SparklingComet I have updated my server and tested the shops once more. This time the following errors occured:

-------------------------------------------------------------------------------------------------------------------

`[03:05:00] [Server thread/ERROR]: Could not pass event SignChangeEvent to TradeShop v1.7.2-BETA
org.bukkit.event.EventException: null
	at org.bukkit.plugin.java.JavaPlu

[2017-11-20 08:14] KillerOfPie commented on #38
@Darksoul676 would i be able to hop on the server and see what you're doing?

[2017-11-20 08:19] Darksoul676 commented on #38
@KillerOfPie Currently the server is being hosted locally, as my ISP isn't great. I would be more than happy to oblige if we could figure something out though.

[2017-11-20 08:22] KillerOfPie commented on #38
@Darksoul676 Do you have discord?

[2017-11-20 08:30] Darksoul676 commented on #38
@KillerOfPie I do, yes. **********

*Edited by KOP to remove his discord name

[2017-11-20 13:27] KillerOfPie commented on #38
Fixed with PR #40

[2017-11-20 23:06] #38 closed, assigned to KillerOfPie

[2017-12-15 16:21] HossamMohsen7 opened #43 "Sign shop not working"
Hello,
I'm using the latest version of TradeShop on spigot 1.12.2. I tried to make a sign shop but it's saying "You need to put a chest under the sign!" even if there was a chest.
Any help?

[2017-12-15 16:40] KillerOfPie commented on #43
@7osCraft can I see your config?

[2017-12-15 16:41] HossamMohsen7 commented on #43
Sure

[code]

[2017-12-15 16:42] HossamMohsen7 commented on #43
It's the default one. I didn't change anything

[2017-12-15 16:51] KillerOfPie commented on #43
@7osCraftand do any errors appear in console when you try to make the shop? Also what plug-ins do you have on the server.

[2017-12-15 16:54] HossamMohsen7 commented on #43
No not any. plugins I have: Plugman, XRay detector

[2017-12-15 16:58] KillerOfPie commented on #43
@7osCraft spigot/bukkit version?

[2017-12-15 17:18] HossamMohsen7 commented on #43
Here is /version output:
CraftBukkit version git-Spigot-549c1fa-2ee49b4 (MC: 1.12.2) (Implementing API version 1.12.2-R0.1-SNAPSHOT)
@KillerOfPie

[2017-12-15 17:19] KillerOfPie commented on #43
@7osCraft is it a public server or local only?

[2017-12-15 17:20] HossamMohsen7 commented on #43
No it's a private survival server

[2017-12-15 17:20] HossamMohsen7 commented on #43
Also tried it in a local server but with no luck

[2017-12-15 17:22] KillerOfPie commented on #43
@7osCraft try making an iTrade shop

[2017-12-15 17:24] HossamMohsen7 commented on #43
Looks like it worked fine

[2017-12-15 17:26] HossamMohsen7 commented on #43
From looking at the code the main difference in iTrade shop sign and Trade shop sign is `!plugin.getAllowedInventories().contains(chest.getType())` in the if statment line 68
Maybe it's the problem

[2017-12-15 17:37] KillerOfPie commented on #43
@7osCraft that's because iTrade shops do not check for chests as they don't need them. I had you try that to make sure it was something else causing a problem

[2017-12-15 17:40] KillerOfPie commented on #43
@7osCraft try placing the sign on the front og the chest

[2017-12-15 17:44] HossamMohsen7 commented on #43
Same problem.

[2017-12-15 17:45] KillerOfPie commented on #43
@7osCraft what version of Java is being used?

[2017-12-15 17:47] HossamMohsen7 commented on #43
Latest version of java 8

[2017-12-15 18:21] SparklingComet commented on #43
Java can’t be the problem, the consequences would be much more severe.
Can you please double check the console logs and make sure no stacktraces (errors) were printed to the output stream?

[2017-12-15 18:49] HossamMohsen7 commented on #43
Yep checked again with no errors. Are you able to reproduce the problem?

[2017-12-15 18:50] HossamMohsen7 commented on #43
Also BiTrade is working fine the problem is only in Trade

[2017-12-15 18:52] HossamMohsen7 commented on #43
Oh for some reason now it is working. Maybe it needs a server restart or a reload somehow
@KillerOfPie  @SparklingComet
Thanks for your help btw !

[2017-12-15 18:52] #43 closed, assigned to nobody

[2017-12-15 19:01] SparklingComet commented on #43
Glad it got solved. Let us known whether you run into any more issues.

[2017-12-26 17:56] arvitus opened #44 "1 for 2 trading"
Hi,

Can you implement the 1 for 2 trading?
Means: You are selling 1 Diamond for 1 Gold AND 1 Iron.

[2017-12-26 22:38] KillerOfPie commented on #44
@TrueMAMA due to the way our signs currently work that wouldn't be possible. However we may look into into after the 2.0 update.

[2018-01-18 19:16] husscraft opened #46 "1.8.0 Error: You need to put a chest under the sign."
Hi, I've just added your plugin to my server as it looks to be the perfect plugin for us. Unfortunately e are getting this error. I saw in the top comment someone else had same issue and your advice was to make sure they were using latest version (1.7.3 at the time) or else to contact you on github.

As we are having the issue with 1.8.0 , I thought I would try it on 1.7.3 as well. Unfortunately w

[2018-01-18 19:33] KillerOfPie commented on #46
Public server or private? Can I see your config? And any errors show up?

[2018-01-18 19:53] husscraft commented on #46
Hi,

It's a public server. No errors on console, in game it says 'you need to put a chest under the sign. I do have griefprevention installed, would that cause an issue?

Here's the config: https://pastebin.com/e7rpfbuc

[2018-01-18 19:53] KillerOfPie commented on #46
ip?

[2018-01-18 19:54] husscraft commented on #46
husscraft.mcworlds.pro

[2018-01-18 20:29] KillerOfPie commented on #46
We found the problem, if you are experiencing this do '/ts reload' we should have a fix out in the next day or two though.

[2018-01-20 00:05] KillerOfPie commented on #46
Should be fixed in the 1.8.1 release, closing issue.

[2018-01-20 00:05] #46 closed, assigned to KillerOfPie

[2018-01-20 09:37] SparklingComet commented on #46
Duplicate of #43

[2018-02-14 15:07] MamaBeau opened #48 "Not trading the right ammount"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

## General Troubleshooting

Hey there! Before you report a bug or suggest a new feature,
  please make sure to follow these steps first!

- [x] I have checked for similar issues.
- [ ] I have updated to the [latest TradeShop version][download].
- [x] I have checked the branches or the maintainers' PRs for upcoming features/bug fixes.

[2018-02-14 16:19] KillerOfPie commented on #48
What version are you using?
Are you crouched when you try to buy?
Do any errors show up in console?

[2018-02-14 17:42] MamaBeau commented on #48
Version: TradeShop 1.7.0-BETA
Not crouched when they try to buy it.
No errors in console other than the "You do not have 350 keys"

[2018-02-14 20:06] KillerOfPie commented on #48
Update to the newest version and let me know if you still have the problem

[2018-02-14 20:19] MamaBeau commented on #48
Updating the plugin worked. Thank you.

[2018-02-15 00:45] #48 closed, assigned to nobody

[2018-02-23 17:30] Etanarvazac-zz opened #49 "Doesn't work..."
Doesn't work at all unless you're opped. I even tried giving full access to Guest perm group (tradeshop.*) and was still told they didn't have permission to make shops

![capture](https://user-images.githubusercontent.com/16289987/36607598-0870f3ce-1895-11e8-803c-4bda571c2ff8.PNG)

[2018-02-23 23:11] SparklingComet commented on #49
Thank you for your report.
Do you nave any other plugins which could operate on signs or chests? There might be a conflict.

[2018-03-30 01:41] Lawson-a opened #50 "Custom Items"
Hello, I am trying to use this plugin for a custom currency on my server. But when i setup a trade sign with a custom token, i used a slime ball with specific meta values on it, it will also take regular slime balls.

Is there a fix?

[2018-03-30 06:08] SparklingComet commented on #50
Are you configuring the `customitems.yml` file correctly? You basically need to give your special slimeball an alternative name and use that one on the sign.
(Like “coin”, or just”slimes” - note the “s” st the end)

[2018-03-30 06:19] KillerOfPie commented on #50
@slimeguy24 [Here's a link to the wiki page on custom items](https://github.com/SparklingComet/TradeShop/wiki/Custom-Items), make sure you're using them for it to work properly. If it still does not seem to be working and you are on the newest version then give us an ip if possible and I can get on and try to figure out whats not working.

https://github.com/SparklingComet/TradeShop/wiki/Custom-It

[2018-03-30 14:29] Lawson-a commented on #50
@sparklingcoment I gave myself a slime ball with the name Slime Token and a special lore and I type /ts additem SlimeToken
And it adds the item just fine but when a user goes to a sign where u use the slime token to pay for an item they can just have normal slime balls in their inventory, it dosent take the normal slime balls but it still puts a slimetoken in the chest and gives them the item for

[2018-03-30 14:44] KillerOfPie commented on #50
@slimeguy24 can you paste your customitem.yml file here?

[2018-03-30 15:25] Lawson-a commented on #50
![customitems](https://user-images.githubusercontent.com/37918645/38143121-10ac70de-340d-11e8-8001-0c63e536b98a.PNG)

[2018-03-30 15:42] KillerOfPie commented on #50
@slimeguy24 and you're on the newest version of the plugin and at least 1.12?

[2018-03-30 15:49] Lawson-a commented on #50
yes I am

[2018-03-30 18:20] KillerOfPie commented on #50
@slimeguy24 do you have an ip for the server?

[2018-03-30 18:20] KillerOfPie commented on #50
wrong button...woops :P

[2018-03-30 18:25] KillerOfPie commented on #49
@Etanarvazac What other plugins are on your server, what version of TradeShop are you using, and what version of MC?

[2018-05-26 19:54] creezd opened #51 "Chests placed diagnolly to TradeShop chests will Flag the chest as part of the TradeShop"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

- [YES] I have checked for similar issues.
- [YES] I have updated to the [latest TradeShop version][download].
- [YES] I have checked the branches or the maintainers' PRs for upcoming features/bug fixes.

### Issue Type

- [YES] Bug Report
- [ ] Feature Request

### Description

Placing a chest diagnol to an existing TradeShop chest

[2018-05-26 21:26] KillerOfPie commented on #51
Would you be able to provide us with a picture of how the chests are placed

[2018-08-01 15:11] SparklingComet commented on #50
Closing. If this is not fixed, reopen the issue.

[2018-08-01 15:11] #50 closed, assigned to KillerOfPie

[2018-08-01 15:12] SparklingComet commented on #49
Closing. If you wish further assistance, please reopen the issue by replying to the thread.

[2018-08-01 15:12] #49 closed, assigned to nobody

[2018-08-01 15:14] SparklingComet commented on #51
Closing as this will not be an issue in 2.0.

[2018-08-07 01:14] icourt opened #52 "Item isn't trading"
Hi,

I setup a tradeshop that is the following:
1 emerald -> 1 diamond

If I only have 1 diamond in stock, a player can right click and get the diamond, without trading the emerald. This happens on [Trade] and [BiTrade] shops (not even sure what BiTrade is)

Can you please fix this!
Thanks!

[2018-08-07 01:32] KillerOfPie commented on #52
What version of minecraft? What version of the plugin? Does anything show up on console? And is it a public server?

[2018-08-07 01:59] icourt commented on #52
MC Version: 1.12.2
Plugin Version: 1.8.1
Does anything show up on console?: Yes, hastebin below.
Public server?: No, but I can invite you if you want.
- https://hastebin.com/itumopeteh.cs

[2018-08-07 02:31] icourt commented on #52
Also, when I setup a shop to trade 1 emerald for 1 diamond, players can successfully trade it if I have enough stock, but chat says this every once in a while - https://imgur.com/a/fM6LGH3

[2018-08-07 02:33] KillerOfPie commented on #52
Here's a wiki link for the sign type - https://github.com/SparklingComet/TradeShop/wiki/Custom-Items

Also I'll be off in a couple hours and I'll work on fixing this asap. Should be done tonight if all goes right.

[2018-08-09 02:40] KillerOfPie commented on #52
@icourt1 sorry it took so long just finished fixing it, gotta test real quick and have @SparklingComet upload it, look for the 1.8.2 version hopefully tonight

[2018-08-09 02:49] KillerOfPie commented on #52
And this ladies and gents is why we don't copy and past code without double checking it

[2018-08-11 17:36] KillerOfPie commented on #52
@icourt1 version 1.8.2 is up on spigot, I'm going to close this issue as it should be resolved. Open another one if you find any other problems.

[2018-08-11 17:36] #52 closed, assigned to nobody

[2019-04-21 03:24] KillerOfPie commented on #51
He said he was closing it but he didn't so now i will almost a year later :P

[2019-04-21 03:24] #51 closed, assigned to nobody

[2019-05-17 23:03] smashedbotatos opened #57 "1.14.1 Could Not Pass InventoryClickEvent"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

## General Troubleshooting

Hey there! Before you report a bug or suggest a new feature,
  please make sure to follow these steps first!

- [ ] I have checked for similar issues.
- [ ] I have updated to the [latest TradeShop version][download].
- [ ] I have checked the branches or the maintainers' PRs for upcoming features/bug fixes.

[2019-05-18 00:44] smashedbotatos opened #58 "Hoppers are able to take things from the trade chest."
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

## General Troubleshooting

Hey there! Before you report a bug or suggest a new feature,
  please make sure to follow these steps first!

- [x] I have checked for similar issues.
- [x] I have updated to the [latest TradeShop version][download].
- [x] I have checked the branches or the maintainers' PRs for upcoming features/bug fixes.

[2019-05-18 02:36] KillerOfPie commented on #58
For some reason I never checked that, I should have time to fix that tomorrow.

[2019-05-18 08:45] SparklingComet commented on #57
Thank you for the report. The cause seems to be the fact that certain portions of the Bukkit API were removed. Knowing this will most certainly be helpful when we start working on supporting 1.14.x.

[code]

[2019-05-18 09:22] KillerOfPie commented on #57
Yea I was looking at that trying to think of new way to check the name of the inventory.

[2019-05-18 13:54] smashedbotatos commented on #57
I switched your class around a little, just to test the new method and it works in 1.14.1

[code]

I wasn't sure how to change the other method used, so i just commented out the else if statement. It was working perfectly with 1.14.1 other than the hopper bug. In CommandRunner class line 566.

[code]

You can't get the name from an InventoryHolder any more. Here is a thread I found about getting t

[2019-05-18 17:15] KillerOfPie commented on #57
Already knew about nameable, and i think we used it when we originally started setting names. However that post for the 1.14 chest is useful and ill probably switch everything over to BlockState#getName when i get home in an hour or two

[2019-05-22 22:56] KillerOfPie commented on #57
Fixed in #60 @smashedbotatos I would appreciate it if you could test the PR for me, if you need a jar msg me on discord, KillerOfPie#9816.

[2019-05-22 22:56] #57 closed, assigned to KillerOfPie

[2019-05-22 22:58] KillerOfPie commented on #58
Fixed in #60 same as closing comment on #57

[2019-05-22 22:58] #58 closed, assigned to KillerOfPie

[2019-06-01 05:17] KillerOfPie commented on #44
This is being added in V2.1.0, sorry it took so long.
Closing.

[2019-06-01 05:17] #44 closed, assigned to KillerOfPie

[2019-06-03 01:32] mrkylen opened #62 "Error: Sign not recognizing adjasent chest"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

## General Troubleshooting

Hey there! Before you report a bug or suggest a new feature,
  please make sure to follow these steps first!

- [X] I have checked for similar issues.
- [X] I have updated to the [latest TradeShop version][download].
- [X] I have checked the branches or the maintainers' PRs for upcoming features/bug fixes.

[2019-06-04 19:30] KillerOfPie commented on #62
Fixed

[2019-06-04 19:30] #62 closed, assigned to KillerOfPie

[2019-07-29 17:57] xShqdow opened #63 "2.0.2 Error: "You need to place a chest under the sign""
When creating a trade shop and placing the sign with the right format, it says "You need to place a chest under the sign!"
I have read the other bug reports. but they are all older versions. We have TradeShop 2.0.2 installed on our Papermc 1.14.4 server.
Console: https://pastebin.com/ne2jhvCH

[2019-07-29 18:01] KillerOfPie commented on #63
Error has already been fixed for 2.1.

[2019-07-29 18:02] #63 closed, assigned to nobody

[2019-09-07 11:43] Kalikanto opened #64 "[FEATURE]"
## General Troubleshooting

Hey there! Before you report a feature,
  please make sure to follow these steps first!

- [x] I have checked for similar feature requests.
- [x] I have checked for [planned feature requests][https://github.com/SparklingComet/TradeShop/projects].
- [x] I have checked the branches or the maintainers' PRs for upcoming added features.

### Description

**My request is that

[2019-09-07 16:37] KillerOfPie commented on #64
It is possible however I don't think that's something we will be adding for a couple reasons.

1. Any user of a shop can open the shop and manually trade items

2. It would cause problems when owners try to break the shop, making it impossible to break without a command.

[2019-09-09 23:40] Buttered-Alex opened #65 "Yo how do I do perms"
Okay so listen up i have a server and I want to give the players the ability to make their own shops however I don't know how I have a perms manager rom another plugin (Essentials) and I tried putting in the perms node but it didn't work and there was no place in this plugin config where I could but the nods nor was there a spot for me to make people without op to  be able to make a shop plz help

[2019-09-10 01:06] KillerOfPie commented on #65
The easiest way to do that would be to look up an introductory video on YouTube for whatever plugin you are using for the permissions. Unfortunately most permissions plugins do things differently so it is a little difficult for us to be able to walk you through doing it. Also, our discord is a much better place to ask for support. This would be more for bug reports and feature requests.

[2019-09-10 01:06] #65 closed, assigned to nobody

[2019-09-10 01:07] #64 closed, assigned to KillerOfPie

[2019-11-13 17:41] whitc129 opened #66 "[BUG] bitrade only working as trade"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

[2019-11-13 18:36] SparklingComet commented on #66
Thank you for your report. Can you elaborate a little?

[2019-11-18 21:26] ghost opened #67 "[FEATURE] Cosmetic item display above chests"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

Explanation of the label system for Issues may be found [here][https://github.com/SparklingComet/TradeShop/wiki/Issue-&-Pull-Request-labels].

## General Troubleshooting

Hey there! Before you report a feature,
  please make sure to follow these steps first!

- [x] I have checked for similar feature requests.
- [x] I have checked for

[2019-11-18 21:57] KillerOfPie commented on #67
I'll add this to the project list later, however, atm I can't think of a good way to do this now that we support multiple items.

If I do it I will probably make it a plugin once @SparklingComet has that done so that only the servers that want it would need to install it.

[2019-12-07 01:04] jackson-57 opened #68 "[BUG] InventoryMoveItemEvent error with composters and hoppers"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

Explanation of the label system for Issues may be found [here](https://github.com/SparklingComet/TradeShop/wiki/Issue-&-Pull-Request-labels).

## General Troubleshooting

Hey there! Before you report a bug,
  please make sure to follow these steps first!

- [x] I have checked for similar issues.
- [x] I have updated to the [latest Tr

[2019-12-07 17:45] KillerOfPie commented on #68
@SparklingComet Looks like a problem with the list there, if you can look into this while you're doing the add-on stuff, if not let me know when you finish and I'll take a look.

[2019-12-10 15:57] jackson-57 commented on #68
any updates on this?

[2019-12-13 02:03] KillerOfPie commented on #68
@jackson-57, @SparklingComet hasn't gotten back to me yet. I think he's busy with school atm. I have to wait on him to finish the add-on updates before I can do any work.

If you would like a temporary solution, you should be able to remove hoppers from the inventory list and toggle any hopper settings and that may prevent the error. Not entirely well if or how well this will work though

[2019-12-14 00:03] jackson-57 commented on #68
ok, thanks!

[2020-02-03 23:11] VanirDev opened #69 "[BUG] Sign targeting issue for commands that check if a player is looking at it."
I brought this issue up in the TradeShop Help discord server, and figured out the cause in the process of identifying the problem.

Currently, it seems that all commands which require a player to look at a sign, such as **setProduct, setCost, what** etc, all use a method that draws a path from the playerview, and uses the first sign that is hit by this check, within range. While this is direct and

[2020-02-03 23:47] KillerOfPie commented on #69
getTargetBlockExact​(int maxDistance)
getLineOfSight​(Set<Material> transparent, int maxDistance)

[2020-02-04 21:44] VanirDev opened #70 "[BUG] Chests retain unique identifier when broken before trade sign"
Chests with a trade sign on them are renamed to act as a unique identifier (I presume). When the sign is destroyed, the chest has this identifier removed.

If the chest is destroyed with the sign still attached, the chest will retain this identifier. If this chest is placed down again and has a sign placed on it to create a new shop, the sign will throw a "no inventory available" error meaning unl

[2020-02-22 21:17] KillerOfPie commented on #69
Used getTargetBlockExact, this should be fixed, let me know if it continues to be a problem.

[2020-04-06 17:21] paularcoleo commented on #70
Some additional context for how to recreate this bug:

1. Place down a single chest, this will be called Chest 1.
2. Add any TradeShop sign to it.
3. Place down a second chest next to it (this can either be a separate chest, or create a double chest). This will be called Chest 2.
4. Add a second Tradeshop sign to Chest 2. This will create an invalid Tradeshop sign, as the doublechest protection is

[2020-04-06 18:02] KillerOfPie commented on #70
1) The names on the chest is not a new bug, I have fixed it so idk why its back.
2) The chests next to each other is a newer feature in MC

I would work on attempting to fix this, however, I believe the better solution will be to just get rid of the named chest system sooner, and change how the system checks chest. As soon as i fix the other bugs in 2.2, I will begin working on this for the 2.3 up

[2020-04-06 18:03] #69 closed, assigned to KillerOfPie

[2020-04-07 00:33] paularcoleo commented on #70
I just learned that this bug is not exclusive to chests. It can also be replicated with Shulker boxes, and presumably other containers as well. Hopefully moving away from naming the items will fix this. However, I think that there is a separate & compounding problem that I will make a new github issue for.

![shulker](https://user-images.githubusercontent.com/14979976/78617580-a5932700-782c-11ea-8

[2020-04-07 00:43] KillerOfPie commented on #70
The names are all exactly the same problem and will exist on any item that was used as shop storage. Moving away will completely fix any problems related to this as the names will never be added in the first place.

[2020-04-07 00:55] paularcoleo opened #73 "[BUG] Existing Tradeshop signs attempt to link to all newly placed containers neraby"
By placing a new container near an existing TradeShop sign, the sign links to that new container. This can result in several issues:

1. You cannot create a new TradeShop next to an existing one.
2. Placing and then removing the new container will break the existing TradeShop. The existing shop will become closed, and if you attempt to open it with `/ts open`, you will receive the error `Your shop

[2020-04-07 12:00] Eric17314 opened #74 "[BUG] Specific trade chests will not allow to open a new shop because of a shop previously existing at the block coordinate"
When creating a shop, upon destroying the sign and chest, any attempt to create a new shop at the same block coordinate displays a message that says “You may only have 1 shop per inventory block.” Despite there no longer being a shop at that specific coordinate. This issue is only affecting 3 specific chests, when attempting to do the same on any other chest, the issue does not occur.

[2020-04-07 12:18] #74 closed, assigned to nobody

[2020-04-07 13:35] SparklingComet commented on #74
Is there a reason why this was closed?
Ie. do you intend to cancel this issue?

[2020-04-07 13:37] Eric17314 commented on #74
I closed this issue because upon further inspection I thought it was
similar to other issues already listed.

On Tue, Apr 7, 2020 at 9:35 AM Sparkling Comet <notifications@github.com>
wrote:

[2020-04-07 19:24] KillerOfPie commented on #68
@jackson-57 this should be fixed in the 2.2.2 update that should be coming out soon

[2020-04-07 21:11] #23 closed, assigned to SparklingComet

[2020-04-10 04:36] paularcoleo commented on #73
Just had this come up again - another player put down a shulker box in front of one of my shop signs, and then couldn't put their purchase into the box because it had linked to the sign, and thus under protection. Luckily I was there at the time and was able to break and move their shulker for them. It also then breaks my shop as explained in point 2 above.

[2020-04-10 14:40] SparklingComet commented on #73
Hello,
thank you for your report. Indeed, it appears that the current sign-chest linking system is faulty, hence why we will be changing the way links and chests are connected in the next major release. The new system will most likely not have these shortcomings.
I think that instead of attempting to fix all the problems the current system has, it would be more efficient to roll out the new soluti

[2020-04-11 07:01] paularcoleo opened #75 "[FEATURE] order-independent shulkers"
Currently, when shulkers containing multiple items are added as a tradeshop product, the order of the items in the shulkers must be exactly the same as the shulker used to create the shop. So if a shulker had 2 different items swapped inside, the shulker wouldn't count be counted as part of the shop's stock. Not a deal breaker but a bit annoying if you're trying to sell a kit of items.

Perhaps wh

[2020-05-07 22:33] KillerOfPie commented on #73
The initial linking system hasn't been changed but this should be fixed in 2.2.2

[2020-05-07 22:34] KillerOfPie commented on #70
this should also be fixed in 2.2.2

[2020-05-12 21:08] RobinWhitfield opened #77 "[FEATURE] Add option to allow trading with own shops (primarily for testing/debug)"
An option to allow owners to purchase from their own shops, primarily for debugging/testing purposes, by both users and admins.

Could even be a change of the "You cant buy from a shop in which you're a user" to include a confirmation option. Something like:
"You are a user of this shop, are you sure you want to trade? [confirm]"

[2020-05-12 21:50] paularcoleo opened #78 "[FEATURE] Ability to not specify certain attributes on cost/products"
Trying to set up a shop concept where a user could return a specific pickaxe at any durability and receive a fully repaired pickaxe in return. However, currently the only way to specify the name/enchantments for a product or cost is to hold the item in your hand when using `setCost` or `setProduct` commands and leaving the material argument blank. But this also records the specific durability of t

[2020-05-12 22:36] KillerOfPie commented on #78
1. This would be different than #75 as that is conering how we compare items inside the shulker when trading.

2. Due to how complex NBT tags can be and how they change with each item I don't see us adding the ability to specify specific tags anytime soon. This should be something that is possible to be added on using our Add-On Framework

3. My solution to this will be a couple things:
  A. Make

[2020-05-12 22:39] KillerOfPie commented on #78
@SparklingComet Let me know what you think of the above solution as well

[2020-05-12 22:44] KillerOfPie commented on #75
For shulkers i can compare the inventories they have differently to allow for this to work. It may create some extra overhead when trading with shulkers though so may be something that I give the option to disable in the settings.

This will probably be worked on in the next version.

@paularcoleo would this be sufficient?

[2020-05-13 00:25] paularcoleo commented on #75
Yea, that all makes sense.

[2020-05-13 10:01] SparklingComet commented on #78
I think 3.B would be a very good idea for any kind of tool, as I can totally see some scams happening with items which are about to break.
I would suggest we plan it for v2.3.0 as the current release is already packed with many fixes.

[2020-05-13 10:05] SparklingComet commented on #77
This has been suggested several times already and I can absolutely see why it would be very useful. We are considering adding this in v2.3.0 as modifications to plugin mehanics need to be rolled out first.

[2020-05-14 08:41] paularcoleo opened #79 "[BUG] signed books not properly usable as products or costs"
Server I play on is currently running 2.2.0-BETA, When testing how to create a voucher-like system which would allow the use of an item that could only have been created by the shop owner, I looked to signed books as an option. Tradeshop allows the usage of `/ts setcost 1` and `/ts setproduct 1` when holding the specific book, and the specific book shows up properly in the `/ts what` GUI, however

[2020-05-14 08:48] RobinWhitfield commented on #79
On the latest dev build (tradeshop-2.2.2-BETA-2020-05-13T18.07.43.jar):

It's giving out what seems to be an identical book as a product item, but it's not identical (items don't stack). It's using the presence of a written book to check stock, but not a specific written book.
It's not taking out any stock from the chest when a trade is completed, but it does give the (apparently identical but not

[2020-05-19 23:11] KillerOfPie commented on #75
I think I have added this, hopefully it works correctly. If it doesn't it may be removed and properly added later.

[2020-05-21 08:23] RobinWhitfield opened #80 "[BUG] [2.2.2 BETA] Shop chests can be opened by non-shop owners"
tradeshop-2.2.2-BETA-2020-05-19T18.50.13.jar

Currently running Paper 300

![image](https://user-images.githubusercontent.com/63362209/82539104-c2698c80-9b44-11ea-90d6-1eeaca465239.png)

[2020-05-21 08:27] RobinWhitfield opened #81 "[BUG] [2.2.2 BETA] iTrade shops cannot be destroyed"
tradeshop-2.2.2-BETA-2020-05-19T18.50.13.jar

itrade signs simply re-appear when destroyed. They can only be destroyed by removing the block they're attached to

On break:
https://pastebin.com/C8hB7kd8

[2020-05-21 08:32] RobinWhitfield opened #82 "[BUG] [2.2.2 BETA] Existing signs change container association and link to newly created adjacent chests."
tradeshop-2.2.2-BETA-2020-05-19T18.50.13.jar

Paper 300

Creating a single chest on either side of an existing shop causes the shop sign to link itself to the newly created chest.

![image](https://user-images.githubusercontent.com/63362209/82539674-ba5e1c80-9b45-11ea-8613-91c712bc8b25.png)

[2020-05-21 19:37] KillerOfPie commented on #82
I think i got this fixed, will send a new jar in a bit after I look at the other reports.

[2020-05-21 19:46] KillerOfPie commented on #80
I may have fixed this. It was still using old code so i rewrote the entire section a little better and hopefully that's enough to get it to work properly. Again will send jar after I've looked at the last issue.

[2020-05-21 19:50] KillerOfPie commented on #81
I think I got this too. Seems to be because I was trying to get the players Inventory Storage Contents (only exists when the player opens an inventory).

[2020-05-21 22:17] paularcoleo commented on #82
duplicate of #73?

[2020-05-21 22:22] KillerOfPie commented on #82
Yes but I think a different cause

[2020-06-03 14:46] tkn0 opened #83 "[FEATURE] More Message Customization"
Please add the config options to alter the help menu and the prefix seen before each message.

[2020-06-03 14:49] tkn0 opened #84 "[BUG] Null Pointer Exception in Console when using TS WHAT"
https://hatebin.com/vgdtehtcuq
A null pointer pops up in console sometimes when using /ts what.
The issue seems to arrive when no shop is in range or a player uses /ts what in the open.

[2020-06-05 12:59] SparklingComet commented on #83
Prefix will perhaps be configurable in a future release. About the help message, there are currently no plans yet to make it customisable. There are other ways for a server administrator to offer custom help.

[2020-06-05 13:08] SparklingComet commented on #84
Thank you for taking your time to report this. I believe this is already fixed for the next release, which is being tested. It should be out soon

[2020-06-05 20:06] SparklingComet commented on #84
On closer inspection, it appears this was not fixed. It is now, though, and the patch will be out soon with the next release. Thanks again for your report.

[2020-06-05 21:16] SparklingComet commented on #81
has this fix been tested?

[2020-06-05 23:09] tkn0 commented on #84
Thanks, guys, was gonna go in and see for myself if I could fix it. But you guys are on it!

[2020-06-05 23:11] tkn0 commented on #83
Is it okay if I add these features to the plugin myself for a public server or is that against your terms?

[2020-06-05 23:22] KillerOfPie commented on #83
Prefix is already customizable in the next release, The help menu customization may be added in a future release. However it wont be entirely customizable seeing as it is built using many built in values that are also used for validating commands and such.

As far as adding the changes yourself, you can fork the project on Github and make any changes you would like. The plugin is under the [Apache

[2020-06-06 00:00] SparklingComet commented on #83
Another option is custom `/help <plugin>` instead of changing `/<plugin> help`. There is plenty of resources that make way for this.

[2020-06-07 15:43] tkn0 opened #85 "[BUG] Could not pass event InventoryMoveItemEvent - NPE"
Console Error Message found here.
https://hatebin.com/zzqzlifqso
I cannot seem to find the cause of this.

[2020-06-07 16:19] SparklingComet commented on #85
Can you explain the context/circumstances? There is a similar problem with composters/hoppers which was fixed a while ago, although the patch is yet to be released with v2.2.2 (#68 )

[2020-06-07 20:54] tkn0 commented on #85
I really can't find the context it will just appear in console randomly, I assume it has to do with hoppers because the error reports hopper tiles.

[2020-06-07 23:51] KillerOfPie commented on #85
This has already been reported #68 and fixed for version 2.2.2

[2020-06-07 23:51] #85 closed, assigned to nobody

[2020-06-10 02:47] paularcoleo opened #86 "[BUG] Product item not properly given when customer has full inventory"
(2.2.0-BETA)

A mod on our server just sent me video footage of the following scenario.

Customer's inventory is full. One of the slots is 2 diamonds. The cost of the trade he's attempting to perform is 1 diamond. When clicking the sign, nothing happens as expected - no space. The customer then drops 1 diamond, so they now only have 1 diamond in their inventory. The trade "goes through" - the diam

[2020-06-10 04:29] KillerOfPie commented on #86
This is already fixed for the next version, thank you for the report!

[2020-06-10 04:35] paularcoleo commented on #86
Ah, good to know. Sorry if it was a duplicate - I looked through the closed issues but didn't seem to find anything that matched.

[2020-06-10 04:35] #86 closed, assigned to KillerOfPie

[2020-08-24 02:40] ebaldino commented on #69
Sorry, I'm not sure how to proceed when posting to a closed issue.
getTargetBlockExact does NOT fix the issue, because it does not accept a list of blocks to ignore. Signs behind a pane of glass, or a block of water, are effectively invisible to getTargetBlockExact.
I've finally decided to try and address this issue for Signboard, so I'm am having to brew my own solution.

[2020-08-31 17:49] Androiddude73 opened #87 "[BUG] Sign creation fails if player is lacking sign color perms"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

Explanation of the label system for Issues may be found [here][https://github.com/SparklingComet/TradeShop/wiki/Issue-&-Pull-Request-labels].

## General Troubleshooting

Hey there! Before you report a bug,
  please make sure to follow these steps first!

- [x] I have checked for similar issues.
- [x] I have updated to the [latest Tr

[2020-08-31 18:13] SparklingComet commented on #87
Type just `[Trade]` and see what happens (no colors, other lines blank).
Also please list any plugin on your server which involves sign color.

[2020-08-31 18:35] Androiddude73 commented on #87
![2020-08-31_11 31 37](https://user-images.githubusercontent.com/58871551/91754181-d9753d00-eb7d-11ea-9e0d-730d519fec5f.png)

This is what happens when a player without our permission to color signs types only [Trade] on the first line

We use CMI to add and remove permission for sign coloring i believe

[2020-08-31 19:04] SparklingComet commented on #87
Can you try this without CMI?

[2020-09-03 19:12] thecenters commented on #87
We know this is CMI causing it because it's permission based. There's nothing in any of the configs to remove the color codes from the signs. How can we remove the coloring?

[2020-09-03 19:45] KillerOfPie commented on #87
I have already built this in to the dev version.

[2020-09-06 04:03] KillerOfPie commented on #87
@thecenters I have implemented the work around into the latest Dev build for 2.2.2, which is available for download on the release page. All this does right now is allow you to change the color codes that are used on the signs(or remove them entirely)

I will probably work on actually fixing this(to not require the sign color perm) in our next release

[2020-09-09 19:53] KillerOfPie commented on #77
I've added this to the latest dev build, after working on organizing the settings and everything it seemed to be a very simple change. If any hard to trace bugs pop up it may be removed and re added in v2.3.0

[2020-09-14 20:48] KillerOfPie commented on #81
This is fixed in the latest dev release

[2020-09-14 20:49] KillerOfPie commented on #79
I was finally able to fix this in the newest dev release

[2020-09-14 20:52] KillerOfPie commented on #78
The back-end for this had been made in the latest dev release (and is usable through editing the shop storage files, but not in game), my current thoughts are to use the new Inventory GUI API I added to make shops customizable through much easier to understand guis, including item options like this.

[2020-09-24 21:52] #68 closed, assigned to KillerOfPie

[2020-09-24 21:52] #70 closed, assigned to nobody

[2020-09-24 21:52] #73 closed, assigned to nobody

[2020-09-24 21:52] #75 closed, assigned to KillerOfPie

[2020-09-24 21:52] #77 closed, assigned to KillerOfPie

[2020-09-24 21:52] #79 closed, assigned to nobody

[2020-09-24 21:52] #80 closed, assigned to KillerOfPie

[2020-09-24 21:52] #81 closed, assigned to KillerOfPie

[2020-09-24 21:52] #84 closed, assigned to SparklingComet

[2020-09-25 01:50] KillerOfPie commented on #66
going to close this as I haven't heard of anyone else having this happen.

[2020-09-25 01:50] #66 closed, assigned to nobody

[2020-09-25 17:49] SparklingComet commented on #82
This should be fixed in the current release, closing.

[2020-09-25 17:49] #82 closed, assigned to KillerOfPie

[2020-10-09 00:45] DarkChromaMC opened #89 "[BUG]"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

Explanation of the label system for Issues may be found [here][https://github.com/SparklingComet/TradeShop/wiki/Issue-&-Pull-Request-labels].

## General Troubleshooting

Hey there! Before you report a bug,
  please make sure to follow these steps first!

- [ YES] I have checked for similar issues.
- [YES ] I have updated to the [lat

[2020-10-10 06:54] Fakhri1999 commented on #89
I also get this bug on my server. I just want to add info, you can sell shulker_shell, but can't sell shulker_box

[2020-10-10 08:17] ess3sq commented on #89
Try setting up the shop with commands, not by editing the sign.

[2020-10-10 08:17] SparklingComet commented on #89
Try setting up the shop with commands, not by editing the sign

[2020-10-10 09:13] DarkChromaMC commented on #89
Have tried this already. Got the same error as above.

[2020-10-10 09:32] KillerOfPie commented on #89
This is more than likely due to me forgetting to add back in the proper checks after making the trading fixes, will look at it this weekend.

[2020-10-10 11:05] DarkChromaMC commented on #89
Have tried using commands, still same error.

On Sat, 10 Oct 2020 at 9:18 PM, Sparkling Comet <notifications@github.com>
wrote:

[2020-10-12 18:48] KillerOfPie commented on #89
This was a very simple error due to not checking if an item in the inventory was null before checking if it was a shulker, will be fixed in 2.2.3

[2020-10-23 01:18] #89 closed, assigned to KillerOfPie

[2020-10-24 10:47] James76931 opened #91 "[BUG] Removing direction from allowed-directions displays SHOP_BAD_COLOUR on signs"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

Explanation of the label system for Issues may be found [here][https://github.com/SparklingComet/TradeShop/wiki/Issue-&-Pull-Request-labels].

## General Troubleshooting

Hey there! Before you report a bug,
  please make sure to follow these steps first!

- [x] I have checked for similar issues.
- [x] I have updated to the [latest Tr

[2020-10-24 17:09] KillerOfPie commented on #91
What version of the plugin are you using?

[2020-10-24 22:41] James76931 commented on #91
The latest Spigot release, 2.2.4-STABLE

[2020-10-26 20:16] KillerOfPie commented on #91
I just confirmed I had this fixed for 2.3.0 but forgot to pull the fix back when i was doing 2.2.3 and 2.2.4. This is minor so it will wait until 2.3.0 is released.

[2020-11-04 03:16] KillerOfPie commented on #78
@paularcoleo this has been added to #92 as well as the most recent dev release https://github.com/Tradeshop/TradeShop/releases/tag/tradeshop-2.3.0-DEV-2020-11-04T03.00.11

[2020-11-04 03:16] KillerOfPie commented on #91
This was fixed in 2.2.5

[2020-11-04 03:16] #91 closed, assigned to KillerOfPie

[2020-11-04 11:39] RobinWhitfield opened #93 "[BUG] iTrade signs without cost item gives Index out of bounds 0 error."
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

Explanation of the label system for Issues may be found [here][https://github.com/SparklingComet/TradeShop/wiki/Issue-&-Pull-Request-labels].

## General Troubleshooting

Hey there! Before you report a bug,
  please make sure to follow these steps first!

- [x ] I have checked for similar issues.
- [x ] I have updated to the [latest

[2020-11-04 18:17] KillerOfPie commented on #93
This should be fixed in latest Dev code, will post a new jar later today

[2020-11-22 00:38] igyboo opened #94 "Would it be possible to you able to sell fireworks with different durations?"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

## General Troubleshooting

Hey there! Before you report a bug or suggest a new feature,
  please make sure to follow these steps first!

- [ ] I have checked for similar issues.
- [ ] I have updated to the [latest TradeShop version][download].
- [ ] I have checked the branches or the maintainers' PRs for upcoming features/bug fixes.

[2020-11-22 00:57] ess3sq commented on #94
The general procedure to sell any kind of “special items” (as in items with non-standard metadata) would be through the `ts additem` command. Hold the item in your hand and execute it while staring into the sign’s hitbox.

[2020-11-22 01:00] SparklingComet commented on #94
To add an item, hold it in your hand while staring into the sign’s hitbox and execute `/ts addproduct`.

Let us know if that fails

[2020-11-22 13:07] igyboo commented on #94
You, can add and item but fireworks can't be addded as you can only add fireworks without any tags.

[2020-11-22 13:23] SparklingComet commented on #94
So, to confirm, you tried this and you got a firework with regular metadata? (As in regulae attributes instead of the ones of the item you supplied)

[2020-11-22 13:29] igyboo commented on #94
Yes, exactly. And the the regular fireworks, cant be created in survival mode i cant sell any.

[2020-11-22 13:32] SparklingComet commented on #94
I see, please share your server and plugin version. If it is not the last official release or the latest dev build, please update and check whether the issue persists.

[2020-11-22 13:34] igyboo commented on #94
I have this version: "tradeshop-2.2.5-STABLE.jar"

[2020-12-10 04:03] lagnat opened #95 "[BUG] Any player can open shop chests"
### Description

Any player can open any shop chest.  You might have had someone ask you about this problem on your discord.  With debug enabled, I see this message `Storage Block PerData: null` which I think means the plugin doesn't think it's a shop chest despite having the proper sign and json file.  Breaking the sign, and re-creating the shop fixes the problem.  The server owner told me that t

[2020-12-11 16:13] SparklingComet commented on #95
Please state the server and plugin version, as well as the older plugin version from which the server owner presumably upgraded.

[2020-12-11 16:24] lagnat commented on #95
Server was probably Paper 322.
Plugin version 2.2.5-STABLE

As for previous version, I do not know.  I only help the owners with their server when they have problems.  I can probably get you one of the problematic json files, if that would help.

[2020-12-13 15:23] HandyHat opened #96 "[BUG] TraderShop Updater outputs WARN instead of INFO"
## General Troubleshooting

- [X] I have checked for similar issues.
- [X] I have updated to the latest TradeShop version (v2.2.5).
- [x] I have checked the branches or the maintainers' PRs for upcoming bug fixes.

### Description

Upon startup, the TradeShop Updater checks for updates but outputs a WARN even if TradeShop is up-to-date

### Console Error

`[Thread-19/WARN]: [TradeShop] [Updater] Y

[2020-12-13 16:15] SparklingComet commented on #96
Thanks for the report, this should be fixed with the next release.

[2020-12-13 16:16] #96 closed, assigned to SparklingComet

[2021-02-06 13:03] killerpotato57 opened #97 "Cant sell enchanted books"
I cant sell enchanted books, is there a way to do this?

[2021-02-06 15:41] RocketManKian commented on #97
Have you tried doing "/ts addproduct" whilst holding the Enchanted Book in your Hand? If this works, also make sure to do "/ts addcost" if you want to charge players to buy it.

[2021-02-10 05:25] DarkChromaMC opened #98 "[BUG] Console spam error"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

Explanation of the label system for Issues may be found [here][https://github.com/SparklingComet/TradeShop/wiki/Issue-&-Pull-Request-labels].

## General Troubleshooting

Hey there! Before you report a bug,
  please make sure to follow these steps first!

- [ YES] I have checked for similar issues.
- [ YES] I have updated to the [lat

[2021-02-10 07:07] SparklingComet commented on #98
What plugin and what Minecraft version are you running?

[2021-02-10 09:09] DarkChromaMC commented on #98
TradeShop2.2.5-STABLE

[2021-02-10 09:09] DarkChromaMC commented on #98
Java 1.16.5 running a fork of Tuinity

[2021-02-10 09:26] SparklingComet commented on #98
Can you please try the latest dev version  (experimental pre-release) and see if the issue persists?

https://github.com/Tradeshop/TradeShop/releases/tag/tradeshop-2.3.0-DEV-2020-12-06T19.04.47

[2021-02-19 03:16] SparklingComet commented on #98
@lbrunton did you have the opportunity to test it out?

[2021-02-19 20:12] SparklingComet commented on #98
Closing due to inactivity

[2021-03-01 06:11] DarkChromaMC commented on #98
Hello,

Sorry for the very late response. I have tested the dev version that you attached above for 48 hours, and I recieve this different console spam error.

`[06:08:52 ERROR]: Could not pass event PlayerInteractEvent to TradeShop v2.3.0-DEV
java.lang.IndexOutOfBoundsException: Index 0 out of bounds for length 0
        at jdk.internal.util.Preconditions.outOfBounds(Preconditions.java:64) ~[?:?]

[2021-03-01 13:46] SparklingComet commented on #98
So the previously posted exception no longer appears, is that correct?

Also please describe the circumstances that lead to this stack trace.

[2021-03-03 00:22] DarkChromaMC commented on #98
I don't know how the error occurs, but I have another question that I noticed the dev version of the plugin may have introduced. What is this, and how do I disable it?
![image](https://user-images.githubusercontent.com/68839442/109733209-814def00-7c23-11eb-9a09-3fd4d3fae59e.png)

[2021-03-03 01:55] KillerOfPie commented on #98
The screenshot shows you the statuses of all the shops you are involved with, currently not able to disable it but we'll see if we can get that fixed for the 2.3.0 release.

[2021-03-04 22:50] SparklingComet commented on #98
I have introduced a setting to disable it (will be in the next (pre-)release (2.3.0; #92 ). But I fear I do need more information on this stacktrace. When does it occur? When you right click a sign, when you attempt to open a chest, when you trade...?

[2021-03-04 22:51] SparklingComet commented on #97
Answer provided.
Closing due to inactivity.

[2021-03-04 22:51] #97 closed, assigned to nobody

[2021-03-04 22:52] #93 closed, assigned to nobody

[2021-03-04 22:53] SparklingComet commented on #67
This is a planned addon. I have added this to the todo list for after release 2.3.0.

[2021-03-04 22:53] #67 closed, assigned to KillerOfPie

[2021-03-04 22:56] #83 closed, assigned to KillerOfPie

[2021-03-05 00:48] SparklingComet commented on #94
I apologise for the extreme delay. This functionality was added and wil be available in the next release (v2.3.0; #92 )

[2021-03-05 00:48] #94 closed, assigned to SparklingComet

[2021-03-08 11:11] DarkChromaMC commented on #98
How can I install the #92 ?

[2021-03-08 13:33] SparklingComet commented on #98
I have freshly compiled the latest dev build for you, see link below. Please test whether you are still experiencing the error above, as well as give feedback on the newly added `/ts togglestatus` command which disables the message above.

https://github.com/Tradeshop/TradeShop/releases/tag/tradeshop-2.3.0-DEV-2021-03-08T13.29.27.jar

[2021-03-08 23:59] DarkChromaMC commented on #98
Is it possible to completely disable the feature? The notifications still appear even after the chestshop is removed (using worldedit). I use the arm plugin to handle region shops, and if a player has their shop reset, with chestshops inside, those chestshops are still getting notifications. I really prefer not having the feature enabled for all players, as it spams their chat every time they log.

[2021-03-09 06:04] SparklingComet commented on #98
They are turned off by default.

[2021-03-14 23:17] SparklingComet commented on #98
Closing due to inactivity (again).

[2021-06-28 19:31] Jurz21 opened #99 "[BUG] "There are too many shops in this chunk, you can not add another one""
### Description

Replace this sentence with a description and include as many details as you think are needed to understand your issue, as well as any steps required to replicate the issue.

### Console Error

<"There are too many shops in this chunk, you can not add another one">

  <After placing shops to the chunk limit, and then breaking them to reorganise, the plugin is not allowing any furth

[2021-06-29 06:11] KillerOfPie commented on #99
Please specify what server and plugin versions you are using

[2021-06-29 09:24] Jurz21 commented on #99
We're using Tuinity Build #224 and TradeShop 2.2.5

[2021-06-29 10:05] ess3sq commented on #99
Please try the latest dev build. Although I doubt it fixed this issue, it contains many fixes.

[2021-06-29 20:25] KillerOfPie commented on #99
This is fixed in the dev version, although I did find the max is the max in the config - 1 so I will fix that

[2021-06-29 20:29] KillerOfPie commented on #99
Fixed in #92 12a4253

[2021-06-29 20:29] #99 closed, assigned to KillerOfPie

[2021-06-29 21:27] SparklingComet commented on #98
Closing issue. @lbrunton  can reopen it in case there are still problems.

[2021-06-29 21:27] #98 closed, assigned to SparklingComet

[2021-06-29 21:28] #87 closed, assigned to KillerOfPie

[2021-08-05 09:47] DarkChromaMC opened #100 "Chestshop ghost blocks."
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

## General Troubleshooting

Hey there! Before you report a bug or suggest a new feature,
  please make sure to follow these steps first!

- [Yes] I have checked for similar issues.
- [Yes] I have updated to the [latest TradeShop version][download].
- [Yes] I have checked the branches or the maintainers' PRs for upcoming features/bug

[2021-08-05 10:58] ess3sq commented on #100
Good catch, I'll see if I can get a fix out soon!

[2021-08-05 11:00] SparklingComet commented on #100
Good catch, I'll see if I can get a fix out soon.

[2021-08-07 22:30] Robomnz opened #101 "[BUG] normal members cant use shops even when i have given permissions to do so"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

Explanation of the label system for Issues may be found [here][https://github.com/SparklingComet/TradeShop/wiki/Issue-&-Pull-Request-labels].

## General Troubleshooting

Hey there! Before you report a bug,
  please make sure to follow these steps first!

- [ yes ] I have checked for similar issues.
- [ yes ] I have updated to the [l

[2021-08-07 22:54] Robomnz commented on #101
btw this is a 1.17.1 server and everything seems to work fine for me but everyone else is having trouble

[2021-08-08 07:24] ess3sq commented on #101
Are you sure all the permissions were assigned correctly?

Check out the list here:
https://github.com/Tradeshop/TradeShop/wiki/Permissions

[2021-08-08 14:10] SparklingComet commented on #101
Are you sure you have assigned the right permissions?

https://github.com/Tradeshop/TradeShop/wiki/Permissions

[2021-08-09 20:09] KillerOfPie commented on #101
@Robomnz You might want to make sure you are also not in a spawn region, as this will prevent any non-OP players from doing anything

[2021-08-10 23:40] KillerOfPie commented on #100
Removing the shops when the region is removed is simple, we may have problems if we also want to handle restoring the region without making the player recreate their shops.

ARM has its own events when these things happen.
![image](https://user-images.githubusercontent.com/7243280/128948014-abd17491-cec5-427c-befb-bd2e7230726e.png)
https://github.com/alex9849/advanced-region-market/tree/master/adv

[2021-08-10 23:43] KillerOfPie commented on #100
Or there's this that I just found, will look into this more
https://www.spigotmc.org/resources/advancedregionmarket-shop-bridge.77484/

[2021-08-10 23:52] SparklingComet commented on #100
The way I see it, there is two ways to effectively handle it.

1. The clean way: Find some way to listen to chunk resets/replacement without external APIs (alternative to BlockBreakEvent).
2.
2. The hacky way: Edit the shop listeners to check if the block is no longer a chest or the sign that is meant to be somewhere are gone, and if so, silently remove shop information from data storage. Problem

[2021-08-10 23:54] SparklingComet commented on #100
Thanks @KillerOfPie for finding and sharing those two links. I think option (2) could be fairly straightforward because ARM provides a custom event `RemoveRegionEvent` that we can listen to with `MONITOR` priority and delete shop chunk data for the deleted chunk(s).

[2021-08-11 00:06] KillerOfPie commented on #100
If we are listening to their events I was just thinking of adding a new listener that we can enable only when ARM is present.

From what I've been looking at it doesnt look like anything above ARM throws events for world changes like this.

Arm itself removes regions from a list/map so we'll probably have to handle this on a case by case basis.
https://github.com/alex9849/advanced-region-market/bl

[2021-08-11 00:09] SparklingComet commented on #100
In general I find it easier to make an add-on instead if handling softdepends, especially because throwing in stuff into the main plugin which is needed by a very small fraction of the users is not worth it.

[2021-08-11 00:19] KillerOfPie commented on #100
I can agree with that.

[2021-08-15 21:19] SparklingComet commented on #101
@Robomnz any updates?

[2021-08-18 17:09] SparklingComet commented on #101
Closing due to inactivity. @Robomnz reopen if you still need help.

[2021-08-18 17:09] #101 closed, assigned to nobody

[2021-08-18 17:11] SparklingComet commented on #100
Linking the new add-on [Tradeshop/tradeshop-ARM](https://github.com/Tradeshop/tradeshop-ARM) which addresses this.

[2021-08-18 17:11] #100 closed, assigned to SparklingComet

[2021-08-28 19:06] HarbourHeading opened #102 "Tradeshop null, unhandled exception 'ts' with "CARROTS""
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

## General Troubleshooting

Hey there! Before you report a bug or suggest a new feature,
  please make sure to follow these steps first!

- [ yes ] I have checked for similar issues.
- [ yes ] I have updated to the [latest TradeShop version][download].
- [ yes ] I have checked the branches or the maintainers' PRs for upcoming feature

[2021-08-28 19:50] KillerOfPie commented on #102
This seems to already be fixed in the latest DEV code which should be released as V2.3.0 soon, however to make sure I need to know how you are adding Carrots as a product? (directly to the sign, with /ts addproduct while holding the item, or with /ts addproduct <amount> <type>)

Also a side question, what is `Carrots` the carrot item uses the type `Carrot`?

[2021-08-28 19:57] HarbourHeading commented on #102
I’m guessing V2.3.0 is coming out later and not already out?

It is added with the command <amount> <item>

It is indeed meant to be ”carrot”, so what I don’t know, is the reason the option ”carrots” exist?

[2021-08-28 20:00] KillerOfPie commented on #102
Just found it, `Carrots` is the Material value for the carrot plant when it is planted. This and a bunch of other values like `Potatoes` and `Bamboo Sapling` need to be removed, not sure how I will do this however.

This is not throwing any errors in the latest build so this may be something I try to fix in the next version.

And Yes 2.3.0 should be coming out later this month.

[2021-08-28 22:15] KillerOfPie commented on #102
I found the below items that I'll remove from the list, let me know if you find any more.

[code]

[2021-08-28 22:24] KillerOfPie commented on #102
This is fixed and will be in the 2.3.0 release
b702d31dcb1a5534d26fcaefdcc000b1e3dcaa2a

[2021-08-28 22:24] #102 closed, assigned to KillerOfPie

[2021-08-28 23:22] SparklingComet commented on #102
@KillerOfPie I confess myself confused. Could you elaborate on the criterium for exclusion in your list of `Material` entries?

[2021-08-28 23:35] KillerOfPie commented on #102
These are items that cannot be received by a player in any way. They are all(I think) thing that exist in the world, but become a different item when broken or put into a players inventory in another way.

I.E. When a `SPRUCE_WALL_SIGN` is broken it drops a `SPRUCE_SIGN` item.

To find them I just went through the material list [here](https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.ht

[2021-09-06 19:24] #78 closed, assigned to KillerOfPie

[2021-09-07 16:21] meowaphina opened #104 "[FEATURE] GUI Trading"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

Explanation of the label system for Issues may be found [here][https://github.com/SparklingComet/TradeShop/wiki/Issue-&-Pull-Request-labels].

## General Troubleshooting

Hey there! Before you report a feature,
  please make sure to follow these steps first!

- [x] I have checked for similar feature requests.
- [x] I have checked for

[2021-09-07 16:23] CodeExo4tic opened #105 "Unable To Create A Shop To Sell Firework Rockets"
[download]: https://www.spigotmc.org/resources/tradeshop.32762/

## General Troubleshooting

Hey there! Before you report a bug or suggest a new feature,
  please make sure to follow these steps first!

- [x] I have checked for similar issues.
- [x] I have updated to the [latest TradeShop version][download].
- [x] I have checked the branches or the maintainers' PRs for upcoming features/bug fixes.

[2021-09-07 16:24] KillerOfPie commented on #104
@SparklingComet I asked this to be put here and will look into it when appropriate.

[2021-09-07 16:25] KillerOfPie commented on #105
@CodeExo4tic It looks like you didnt paste the message

[2021-10-04 14:35] kyrtion opened #108 "[BUG] Problem permission tradeshop.edit (tested on localhost)"
### Expected behavior

Problem permission tradeshop.edit, if not grated perms.
For example, set default:
tradeshop.create
tradeshop.info
Next up, check my account, not grated OP, Staff, Admin, etc. like be player, not grated perms 100%.

### Observed/Actual behavior

--- ---

### Steps/models to reproduce

HAVE PERMISSION: .CREATE or MANAGER
1. Set trade
2. /ts edit
3. GUI Opened

### Plugin list

[2021-10-04 15:14] SparklingComet commented on #108
I'm not sure I understand the issue, can you be a bit more exhaustive when filling out Expected and Observed behaviour.

[2021-10-04 15:29] kyrtion commented on #108
i dont know how to do. i am russian

[2021-10-04 15:59] SparklingComet commented on #108
Expected behaviour means what should happen

Observed behaviour means what you see

Please fill those out.

[2021-10-08 07:14] kyrtion commented on #108
Okay, will duplicate.
1. Set group DEFAULT perms: tradeshop.create, tradeshop.info and tradeshop.who.
2. Create chest random trade for test.
3. Send command /td edit.
4. And give player shop MANAGER for edit trade (NO GUI).
5. Player need send command /td edit.

Expected behavior: Chat: Are you(IM/PLAYER) not have permission tradeshop.edit.
Actual behavior: IM/PLAYER opened GUI for edit shop(head,

[2021-10-10 13:39] SparklingComet commented on #108
So you have a shop manager without TS edit perms but the TS edit command works?

[2021-10-10 15:24] kyrtion commented on #108
Yeah

[2021-10-12 00:51] RealCyGuy opened #109 "Central collection chest"
### Is your feature request related to a problem?

if you have multiple shops, it can be tiring to look through all of them to collect trade stuff.

### Describe the solution you'd like.

a way to point connect chests or have a central chest

### Describe alternatives you've considered.

hopper that pulls out traded items

### Agreements

- [X] I have searched for and ensured there isn't already a

[2021-10-13 18:28] SparklingComet commented on #109
This feature would require a large amount of structural changes to the data storage system we currently use, quite possibly coming at quite a cost.

Something that would solve the same problem is essentially a paged-GUI feature where each GUI page corresponds to one of the chests the player owns, so that they can take out items or restock like that. Proper permissions could make this a staff or do

[2021-10-13 18:29] SparklingComet commented on #105
Closing due to inactivity.

[2021-10-13 18:29] #105 closed, assigned to nobody

[2021-10-18 22:52] hyun790 opened #110 "Dupe Exploit"
### Expected behavior

shulker should be paid for and deducted from shop inventory

### Observed/Actual behavior

it stayed there resulting in a dupe

### Steps/models to reproduce

make tradeshop

put shulker in

buy from tradeshop

### Plugin list

BanAnnouncer, BetterRTP, ChatSentry, Chunky, ChunkyBorder, CoreProtect, DiscordSRV, EntityDetection, Essentials, EssentialsAntiBuild, EssentialsProte

[2021-10-21 07:57] SparklingComet commented on #110
What are the config values of the shulker settings?

[2021-11-05 01:21] KillerOfPie commented on #110
Fixed in #111

[2021-11-05 01:21] #110 closed, assigned to nobody

[2021-11-05 01:21] KillerOfPie commented on #108
Did not test this but it should be fixed in #111

[2021-11-05 05:28] kyrtion commented on #108
If realesed or dev version, will tested

[2021-11-06 18:33] SparklingComet commented on #108
It was released as a dev version.

[2021-11-06 20:48] blockswerker commented on #110
Thank you for fixing this! Thankfully it was not heavily exploited on my server, if at all. On my server it seemed most common if the Trade Chest as in a land claim.

[2021-11-07 03:12] KillerOfPie commented on #95
Can not duplicate, closing.

[2021-11-07 03:12] #95 closed, assigned to nobody

[2021-11-07 04:44] Svish opened #112 "Avoid `/ts what` and `various` when single type of item"
### Is your feature request related to a problem?

Wanted to make a server farm for earning diamonds by selling carrots and potatoes. I set the price to 128 Carrots for 1 Diamond.

This results in the sign showing `1 DIAMOND > Use '/ts what'`, and right-clicking the sign (without enough carrots)  gives the text `You do not have 128 various!`, which is a bit confusing when it's just one kind of ite

[2021-11-07 07:11] KillerOfPie commented on #112
This has already been changed in #111 and should be out in the next couple days.

[2021-11-07 07:11] #112 closed, assigned to nobody

[2021-11-07 20:58] Svish opened #113 "[FEATURE] Trades involving custom commands"
### Is your feature request related to a problem?

With custom commands, it could be possible to create server trades based on custom commands. These could for example be used for paid teleporters, using the `/experience` command to trade for or with experience, changing to change the weather, or things like that.

### Describe the solution you'd like.

Not sure what would work best. It could be a

[2021-11-07 20:59] kyrtion commented on #108
Fixed, thank you a lot

[2021-11-07 20:59] #108 closed, assigned to nobody

[2021-11-07 23:59] SparklingComet commented on #113
@KillerOfPie since this requires a certain amount of backend changes we might postpone this after 2.4.0, so that we have the time to gradually add and test the steps we need to take.

[2021-11-16 14:07] Teslicek opened #114 "[Suggestion] Complete freedom with admin mode"
### Is your feature request related to a problem?

Yes it is. I want to be able to edit other's chestshops using commands and not the gui, which is really confusing and hard to use (for someone as stupid as me). I want to be able to edit all the properties of the chestshop without limitations.

![image](https://user-images.githubusercontent.com/87967222/141999211-ec46c8b0-5302-4205-bc1f-1873a1df0a

[2021-11-16 18:56] rosebloom54 opened #115 "Specific Item for "currency""
### Is your feature request related to a problem?

On a server, I'd like to have diamonds or a specific item used as a central currency for buying and selling items. If you want to sell any item, you would have other players pay diamonds. If you want to buy an item from another player, you would give diamonds.

### Describe the solution you'd like.

Having a setting where you can make an item used

[2021-11-16 20:20] KillerOfPie commented on #115
Will probably add this after 2.4.0 is release, going to put some notes here for other things that also need to be done for thi.

[2021-11-16 20:24] KillerOfPie commented on #115
Air, Void_Air, Cave_Air
Need to be moved from Config blacklist to internal blocking

[2021-11-16 20:25] KillerOfPie commented on #115
new config section, planned for 2.5.0

[code]

[2021-11-17 02:16] KillerOfPie commented on #115
Option 2:

I like this more since you cant have a Blacklist and Whitelist active at the same time. This would allow a general Blacklist then a separate Whitelist or Blacklist for Cost/Product. Should also prevent bad configurations that the amount of options Option 1 allows.

[code]

[2021-11-20 17:22] Svish opened #116 "[BUG] BiTrade messages are confusing"
### Expected behavior

Tried to set-up some `[BiTrade]`, and find the error messages very confusing.
[code]
* ✔ Left-clicking (with pink wool in inventory):
`"You have traded your 4 diamond for 64 pink_wool with Svish"`
* ❌ Left-clicking (without pink wool in inventory):
`"You do not have 4 diamond!" (should be "64 pink_wool", no?)`
* ✔ Right-clicking (with diamond in inventory):
`"You have traded

[2021-11-20 18:06] KillerOfPie commented on #116
Great catches. The code for BiTrades get really confusing since the cost becomes the product and vice versa. Going to number the issues then respond to each.

1. No Stock message does not change while left clicking BiTrade shops
2. Missing items message is not specific enough or not sending in the correct place.
3. BiTrade shops shop oos on sign when they can still trade cost.

[2021-11-20 18:09] KillerOfPie commented on #116
Now for responses to each.

1. This is definitely a bug caused by the check happening without knowing what trade was requested
2. When exactly does this message appear, I believe this should show up when the shop has not been assigned a cost/product which would be clearly visible on the sign.
3. I thought i had fixed this for 2.4 but I'll look again.

[2021-11-20 18:57] Svish commented on #116
2. It shows up when both cost and product has been assigned, but one of the items are missing.

[2021-11-20 18:58] KillerOfPie commented on #116
Okay, but how do you interact with the sign for it to appear, because left/right click should show the messages from 1

[2021-11-20 19:05] KillerOfPie commented on #116
Never mind I found it.

[2021-11-20 19:06] Svish commented on #116
If I remove all the wool (but still have diamonds in the chest, and both diamonds and wool in my inventory), then I get the message `"This TradeShop is currently missing items to complete the trade!"` regardless of whether I right- or left-click.

[2021-11-20 19:47] KillerOfPie commented on #116
All 3 fixed in e030cec

Dev update should be out in a couple minutes

[2021-12-28 12:07] LKits opened #117 "Permission to USE TradeShop"
### Is your feature request related to a problem?

No

### Describe the solution you'd like.

Please add a permission to USE TradeShop.
So I can give permission to specific group that can use TradeShop.

For example:
tradeshop.use

### Describe alternatives you've considered.

At the moment aren't any.

### Agreements

- [X] I have searched for and ensured there isn't already an open issue regardi

[2021-12-28 17:36] SparklingComet commented on #117
Hi there, thanks for the suggestion.
As a counter-suggestion, how about adding a permission (such as `tradeshop.noTrade`) to _stop users from buying_ from shops instead?
I believe this would also be a solution to the situation you pointed out on Discord.

[2021-12-30 05:59] LKits commented on #117
tradeshop.noTrade doesn't seem to be doing anything.
Permission group that I added "tradeshop.noTrade allow" to can still buy from the shop.

[2021-12-30 10:41] SparklingComet commented on #117
There seems to be a misunderstanding. That permission does not yet exist, we're suggesting to add it.

[2021-12-30 13:56] LKits commented on #117
That would certainly solve my situation. And I understand why you don't want to add "whitelist" permission, then your plugin wouldn't work "out-of-box".
"Blacklist" permission would work great!

[2021-12-30 17:19] SparklingComet commented on #117
Yes that is part of the rationale. Alright then, we'll add this to the todo list for the next release.

[2021-12-31 21:09] #116 closed, assigned to KillerOfPie

[2022-01-04 03:08] KillerOfPie commented on #117
@LKits Try out the newest dev release and let me know if it functions the way you need it to

The permission is `tradeshop.prevent-trade`

[2022-01-04 03:09] KillerOfPie commented on #115
@rosebloom54 Try out the newest dev release and let me know if it functions the way you need it to

[2022-01-04 03:09] KillerOfPie commented on #114
@Teslicek Try out the newest dev release and let me know if it functions the way you need it to

[2022-01-04 05:04] LKits commented on #117
Works perfectly, thank you very much!

[2022-01-05 23:17] KillerOfPie opened #119 "Rebrand SpigotMC page"
https://www.spigotmc.org/resources/tradeshop.32762/

[2022-01-06 03:12] KillerOfPie opened #120 "Cleanup Setting and Message and minimize repetition between them"

[2022-03-06 17:32] #114 closed, assigned to KillerOfPie

[2022-03-06 17:32] #115 closed, assigned to KillerOfPie

[2022-03-06 17:32] #117 closed, assigned to KillerOfPie

[2022-03-08 19:00] tstoco opened #122 "How to add another language ?"
### Is your feature request related to a problem?

I am planning to translate the plugin to Brazilian Portuguese. However, I am not sure how to add it.

Could you explain, please?

### Describe the solution you'd like.

N/A

### Describe alternatives you've considered.

N/A

### Agreements

- [X] I have searched for and ensured there isn't already an open issue regarding this.
- [X] I have ensured

[2022-03-09 00:25] KillerOfPie commented on #122
I will be adding a wiki page for this in the next week or 2 with more detail. See below for now though.

Then new Lang file is at the link below. This file allows you to not only change the default values but also the formatting of both Settings and Messages. File names should be based on the language codes found here: https://www.andiamo.co.uk/resources/iso-language-codes/

If you want to test, y

[2022-03-26 13:01] SparklingComet opened #123 "Cache Hopper (-Protection) Events"
### Is your feature request related to a problem?

As reported recently (and in many other instanes) in the Discord server, intense hopper activity can lead to considerable tps drops due to high tick times for the hopper protection listener even if those hopper events have nothing to do with TradeShop's field of application.

The reason of course is that a high-activity server will have many hoppe

[2022-03-26 13:02] SparklingComet commented on #123
This issue is for discussion of the concept. I'll be working on a PR soon. Post ideas below.

 @KillerOfPie

[2022-03-26 13:05] SparklingComet commented on #122
For posterity:
https://github.com/Tradeshop/TradeShop/tree/master/src/main/resources/Lang

[2022-03-26 18:03] KillerOfPie commented on #123
first I think your event call math is off, it also depends on
server settings.

Default Spigot Settings:
[code]

each Hopper will attempt to transfer once every 8 ticks which is 2.5 times per second. which means for 400 active hoppers we would be handling around 1000 calls. per second.

I don't think this will save a reasonable amount of time but we can try it, I would say just making a public val

[2022-03-26 18:07] KillerOfPie commented on #123
we could save the location of hoppers that would affect shops when they are placed or a shop is placed then remove the code that decides if it is the correct Hopper. This would be similar to storing the association between a shop and it's since so reverse lookups were quicker.

I think this would save a lot more time then caching the 4-5 boolean for the settings(since they should mostly already be

[2022-03-27 12:40] SparklingComet commented on #123
I'm not suggesting caching the 4-5 booleans for the settings, those are of course already cached. What I mean is we cache the yes/no result (cancel event or don't cancel event) for every single hopper, with an expiration of say 5sec.

As far as the math goes, I didn't know the defaults but those values make the lag even worse.

[2022-03-27 12:48] SparklingComet commented on #123
As far as caching hoppers when placed and getting rid of the protection listener,  that is very unsafe. What if a hopper is placed while Tradeshop is not installed? Or, a shopper was placed while an older version of Tradeshop was installed? It wouldn't be in the cache.

Furthermore, it requires caching to disk, while my proposed method does not. I'd be caching locations in a HashMap instead. It wo

[2022-03-27 12:50] SparklingComet commented on #123
It would be good to get some timings from a server that experiences high hopper lag from the ShopProtection listener.

[2022-03-27 21:15] KillerOfPie commented on #123
I think the biggest problems with this would be:

1. The potential memory usage, we would be switching cpu time for memory capacity which may still be problematic. The time problem either comes from large # of players using a moderate amount of hoppers or a few players with item sorters or other such mass hopper systems. With an item sorter at a minimum there would be 3 hoppers per item with up to

[2022-03-27 21:37] KillerOfPie commented on #123
Maybe I can add a metric for the # calls and/or # of hoppers that are handled to the 2.5.1 version that way we can see what we're roughly dealing with before we decide on how/if we handle it.

[2022-03-27 21:43] SparklingComet commented on #123
I'm not sure where you're getting that huge memory overhead from. For each hopper we would only store its location in a map, nobody cares what's inside... One Location is 4*3 bytes for x.y,z coords plus a pointer to the World object (8 bytes), plus a pointer to the location object itself (if we want to be precise), hence summing up to 28 bytes, so nowhere near that number you quoted.

[2022-03-27 21:47] KillerOfPie commented on #123
Was basing off storing as a string as we do with stored items, but 20 bytes is only 1 less than I used for the total so that overhead would still be similar. @ 20 Bytes per hopper we would be looking at 8.7890625MB for 150 hoppers which I assume is less then are actually ticking on servers that have hopper issues.

[2022-03-27 21:48] SparklingComet commented on #123
Concerning cpu overhead due to HashMap operations:

- insertion into the HashMap is done once every 5sec (100ticks), so negligible.

- reading from the HashMap is done every time the hopper is called, but: there are already many HashMap read operations which we wouldn't do anymore (like checking if a chest is a tradeshop).

Thus we would still reduce computation time.

[2022-03-27 21:50] KillerOfPie commented on #123
insertion would have to happen as hoppers call events not once ever 5 sec, clearing the map would happen once every 5 sec, and reading is negligible. I'm not saying this wouldn't reduce compute time im saying IDK if the compute savings is worth the extra memory overhead.

[2022-03-27 21:53] SparklingComet commented on #123
Sorry the math was off, it's 28 bytes (edited my reply). Still 28*150=about 1.5kB. The HashMap is usually twice the size of its contents so 3kB total, I don't understand why 8MB...

[2022-03-27 21:55] SparklingComet commented on #123
No no the optimization is only updating the hopper entry after at least 5 sec have passed since the last time. That's the entire point...

[2022-03-27 21:55] KillerOfPie commented on #123
lol sorry i was calculating kB but kept writing MB, also math is for a 150 item sorter which assumes 3 hoppers per item, which is 450 hoppers.

[2022-03-27 21:58] KillerOfPie commented on #123
so the map would never be cleared? I think this could cause significantly more overhead since hoppers that get unloaded and stop ticking would be still be in the map? Also how would we be updating the entries, the only way I can think would be during the hopper event meaning each entry would need a timestamp which would be extra data?

[2022-03-27 21:58] SparklingComet commented on #123
I mean even if we round up and say we get up to 20kB, that still pales in comparison to the memory the server has, it's 0.004% of a low-end 512MB server (which wouldn't be able to handle the hopper activity in any case so you need way more memory that that...)

[2022-03-27 22:04] SparklingComet commented on #123
Yes we would compare timestamps, that's true... A couple hundred timestamps wouldn't be much though.

The map would never be cleared _at once_ ! Doing so would be cpu expensive due to garbage collection... We would leave everything inside the cache. Chunk unloading is a good point though, if a server runs for say 2 months without restarting and the map is large enough, we would have problems for s

[2022-03-27 22:04] KillerOfPie commented on #123
We can't base usage on total available since MC itself will happily use almost all of available(I run my test server on 2GB and its usually 850mB with no players online)

No players
![image](https://user-images.githubusercontent.com/7243280/160302819-6a1aa140-01f5-4f10-bd0b-6db57c679029.png)

1 Player
![image](https://user-images.githubusercontent.com/7243280/160302868-f47fd592-885d-4a02-9711-59dc

[2022-03-27 22:07] SparklingComet commented on #123
Sure but the amount of memory we'd use pales when compared to what MC itself is already using

[2022-03-27 22:09] SparklingComet commented on #123
For the cache to be 1% of the server memory of a 512MB instance we would need to cache 90 **million** hoppers

[2022-03-27 22:25] KillerOfPie commented on #123
The kB MB mixup makes this a lot more reasonable, let me see how many hoppers I need to place to lose TPS on my test server then I'll try a basic implementation of this and see what the difference is

[2022-03-28 00:49] KillerOfPie commented on #123
Ended up having to install WorldEdit

All hoppers are actively transferring

~10000 are hopper to hopper, rest are hopper > chest > hopper > ...

Block count to exceed 50ms tick time(max to keep 20tps)
![image](https://user-images.githubusercontent.com/7243280/160309104-d700d5b8-5d32-4168-acca-edb6c1386507.png)

Server Stats
![image](https://user-images.githubusercontent.com/7243280/160309085-f23b

[2022-03-28 00:56] KillerOfPie commented on #123
Ram Estimate:
168b(20B) Location
1b block boolean
55b time(plan on using `Instant.now().getEpochSecond()` since it should be the most efficient storage considering we need down to a second counter, we may be able to make it smaller by saving it divided by the update interval and rounding down)

Total per hopper: 224b(28B)
Total for above hopper amount: 826,532B(807.16015625kB)

[2022-03-28 03:09] KillerOfPie commented on #123
After looking a bit I don't think this will work, I think the most time consuming part of the lookup is just getting the hoppers location which we have to do before we can store/check either way. See below Timing reports from my testing and d04a3dd475a9c67ee79c90e4278654b349b5bfab for code at the final timing and the commented mess code in ListManager that murdered the server(no timing for these,

[2022-03-28 07:28] SparklingComet commented on #123
Left a comment on https://github.com/Tradeshop/TradeShop/commit/d04a3dd475a9c67ee79c90e4278654b349b5bfab

[2022-03-28 07:29] SparklingComet commented on #123
Not sure what this is about? System.currentTimeMillis (1long=8bytes) is just as fine, cutting off everything past 1 sec does not make it more memory efficient...

[2022-03-28 07:32] SparklingComet commented on #123
As far as the cache goes, I was thinking we could use some "special" HashMap from Guava which implements expiration for us:
[code]
(credits: https://stackoverflow.com/a/3802420)

Guava is already shaded into CraftBukkit so we wouldn't add any bloat ad would not need to package or shade the lib.

[2022-03-28 08:30] KillerOfPie commented on #123
the time was because we dont need any data more accurate then a second so it reduces unnecessary data.

the guava may help but all of the expensive compute happens before we even have a location since the ItemMoveEvent doen't directly give a location meaning no matter how we implement this it will take up the same if not more compute time since we need a location before we can save or read from th

[2022-03-28 09:40] SparklingComet commented on #123
I don't understand... System time millis gives 1 long, how would this be more efficient? Actually chopping off the milliseconds doesn't make the memory footprint smaller...

We can just call `event.getSource().getLocation()`, that doesn't actually compute anything, it's just getters.

[2022-03-28 09:45] SparklingComet commented on #123
I see what you mean, correction: we could use `event.getDestination().getLocation()`, that will be even better because it should give the location of the Trade chest (if it is a shop). That means that multiple hoppers going into the same chest will be cached together, unless I am not seeing the entire picture.

[2022-03-28 21:44] KillerOfPie commented on #123
You're correct I forgot a long is always 8B no matter how big the number actually is. It still makes more sense as a second than a millisecond since we dont need the extra 1000 steps of accuracy, and Instant is the newer implementation of System.currentTimeMillis which also allows for adjusting and checking more readably(vs just having lines of math)

Saving either the Destination or the source is

[2022-03-28 21:50] KillerOfPie commented on #123
I'm not going to use this for now, because I want to try updating the time regularly and only remove items that havnt been accessed in a bit(since if we were to remove them after 10 minutes there would more than likely be lag spike from having to re-process and add). There will be methods to purge a location from all entries like when a block is destroyed as well as specific location combinations

[2022-03-28 22:21] SparklingComet commented on #123
Good point about source/destination, I had not thought about that at all. Couldn't we solve the problem with an instance check? See if source instance of hopper and only then cache the destination.

[2022-03-28 22:42] KillerOfPie commented on #123
We can check the Inventory Type, but we would need to check for both src and dest and thats not 100% either since plugins can make inventories with that type so there is still a chance. Currently we check if it's block is null and that section of the code takes 0.002932ms which also includes checking the actual blocks. Total time to get past that part is only 0.006709ms with the next step taking 0

[2022-03-28 22:44] KillerOfPie commented on #123
The longest part in the first section of code which is checking all the Hopper settings for a quick escape when disabled is 0.003235ms(around half the total) so i may find a way to speed that up too since it will save a bunch of time, maybe I'll have a single boolean somewhere that updates with the final result of those checks on load/reload...

[2022-03-29 03:01] KillerOfPie commented on #123
Failed again, didn;t reduce avgtick time and ended up just increasing memory until it ran out. usually happened within a minute or 2 @5GB of memory.

Added more timing readouts and did some excel magic to find avg processing times in seconds of the few it prints(full printing to console would make it unreadable, may make a csv readout similar to what I did in the log Addon if im going to continue

[2022-03-29 03:25] KillerOfPie commented on #123
Oh also found that we do check to see if it was initiated by a hopper, so if you do want to try this yourself thats probably what you want to store to block instead of src or dest. But I still think it isn't an ideal solution.

`event.getInitiator()` returns inventory so
`event.getInitiator().getLocation()` can be done

[2022-03-29 05:44] KillerOfPie commented on #123
Welp, I went back and tried again using the Guava Cache after doing some optimization with the hoppers, which brought me to a sub 50mspt avg...and its now around 32mspt avg, going to play with the variables a bit more and see if i can get it any better. then im going to push and see what the new hopper cap is

[2022-03-29 06:30] KillerOfPie commented on #123
I'm going to post this code to 2.5.1 because i'm very happy with it. had the limit to 50000 but I went passed it so I'm going to set it to 75000. my hopper/chest walls bring my down to 18fps so nobody should ever hit this limit in one area, even across a server this is kinda insane.

w/ 250000 limit on cache
![image](https://user-images.githubusercontent.com/7243280/160547535-5f81740f-62ce-4c3a-92

[2022-03-29 06:40] KillerOfPie commented on #123
Went to test with the 32/4 settings and you can get much higher if people are still hitting it, good find on the Guava Cache BTW

Timings Report with 32/4:
https://timings.aikar.co/?id=53f34bbd75ad4578ad4af8105ce3950f

![image](https://user-images.githubusercontent.com/7243280/160548608-7842a6f9-e8a6-4af6-ba96-4d10a9b07618.png)

[2022-03-29 08:52] SparklingComet commented on #123
The data you shared is actually really insightful, thanks a lot for that :D

So if I understood correctly we are planning on keeping the Guava setup, perhaps with some tweaks?

[2022-03-29 08:53] SparklingComet commented on #123
It would be good to get some timings from some "real" servers so we could identify what other events TradeShop is slow at.

[2022-03-29 18:41] KillerOfPie commented on #123
May tweak settings but I think they are pretty good already, only settings the change are max size(currently 100000 since at that point there would be lag even with the cache) and expireAfterAccess(which is currently at 1s). I used this instead of AfterWrite so that we don't have to keep reprocessing hoppers while they are transferring. It is also important to note that the server will still spike

[2022-03-29 21:18] SparklingComet commented on #123
Oh let me clarify, I wasn't suggesting we add something that measures clock speed, that wouldn't be good... No, I was thinking we should bug people so that they give us their own timings.

[2022-03-29 22:15] KillerOfPie commented on #123
Oh yes, that's good although I'm pretty sure this will fix almost all the problems people will have

[2022-04-11 20:15] Ryne9732 opened #126 "Trade signs with multiple costs down work"
### Expected behavior

Players should be allowed to trade with a sign with multiple costs as a sudo "crafting" system.
I am using special custom items through naming, lore, and enchants, but I also tried with very vanilla items and the same problem arose.

### Observed/Actual behavior

It disregards all items and just says "You do not have (number of items) Various!"

### Steps/models to reproduce

[2022-04-11 20:18] KillerOfPie commented on #126
This is already fixed in the [dev version](https://github.com/Tradeshop/TradeShop/releases/tag/tradeshop-2.5.1-DEV-2022-04-10T20.47.29) which should be releasing as v2.5.1 soon(#124)

[2022-04-11 20:18] #126 closed, assigned to KillerOfPie

[2022-05-26 01:28] KillerOfPie opened #128 "Non stackable products are given to the player stacked."
Reported by `Redstone#2107` on Discord
`Unstackable items stack when you buy multiple of them from a shop, this can be abused in PvP, putting multiple totems in your offhand, etc. Could this be fixed?`
https://discord.com/channels/583000924528836639/583387430305136670/978310884508200981

[2022-05-26 01:34] KillerOfPie opened #129 "Manage users on all owned shops"
Requested by `RocketManKian#8769` on Discord
`Hey guys, is there currently a way for someone to add someone as a manager to ALL of their tradeshops? Rather than each individual one, if not, I think this could be an awesome feature!`

[2022-05-27 02:24] KillerOfPie opened #130 "Shop goes out of stock, and then you fill it back up with an import Hopper, the shop will show <Out Of Stock> until interacted with."
Reported by `RocketManKian#8769` on discord
`Shop goes out of stock, and then you fill it back up with an import Hopper, the shop will show <Out Of Stock> until interacted with.`

[2022-05-27 02:24] KillerOfPie commented on #130
Potential Fix: add new list/cache with <ShopLocation shop, timestamp> set timestamp to x seconds in the future and update the shops status and sign then, list should get processed once every 5-10 seconds and remove any with timestamps before now

[2022-05-27 02:25] KillerOfPie commented on #130
Did not use above potential but if the used fix doesn't work that is still an option.

[2022-05-27 10:20] SparklingComet commented on #130
This may be subject to problems in cases of heavy TPS drops (I think)

[2022-05-27 21:32] KillerOfPie opened #131 "Add ability to set a player to a specific role on a shop without removing and re-adding"
Add SetManager/SetMember commands to automatically remove(if they are on the shop) and re-add as the specified role.

Requested by `RocketManKian#8769` on Discord

[2022-05-27 21:35] KillerOfPie commented on #130
I thought the same, however, its running code it would have run either way just a couple ticks later(hopefully after the event finished). I also added an if statement so that it only runs when the item movement was allowed so server with it blocked should see an improvement from the change.

[2022-05-28 01:22] SparklingComet commented on #130
Hm I guess that if the lag is so severe that this has unintended circumstances, the server probably has bigger problems to worry about...

[2022-05-28 02:11] KillerOfPie commented on #130
If this works but causes problems I'll find another solution.

[2022-05-28 05:37] KillerOfPie opened #132 "Better display of Item Settings"
Each item when opened should show Display icon with state icon below it.

*** Added While working on it ***
Item being edited should be locked on left so it is seen on every page.

DRY up code.

Use new DRY methods for What as well so changes don't need to be duped.

Also make default item settings configurable

[2022-05-28 20:43] DeanMSalter opened #133 "Notification(s) when items are sold in a players shop"
### Is your feature request related to a problem?

Players not being aware of their sales.

### Describe the solution you'd like.

Add a configurable option to tell players when items in their shop are sold.
Ideally include how much stock is left in the shop in each message.
Ideally show a summary of these messages when the player logs in if the trades happened while they were offline.

Maybe add

[2022-05-28 23:14] KillerOfPie opened #134 "Signs in worlds with _ do not create properly when using sign creation"
### Expected behavior

Sign should create properly and commands should be usable

### Observed/Actual behavior

Header remains black and looses brackets (`[``]`), commands do not work on sign

### Steps/models to reproduce

Create world with `_` in the name and try to create sign by typing `[Trade]` on the sign

### Plugin list

TradeShop 2.5.1-STABLE
Paper 1.18.2#350

### TradeShop version and Mi

[2022-05-28 23:40] KillerOfPie opened #135 "Configurable Default Text Colour on Signs"
Add config settings for each sign type that allows the default colour of the signs text to be changed

This color will generally only affect the middle rows of the signs as the top and bottom have their own colours that are configurable.

Dark_Oak signs should default to white
All others should be black

[2022-05-29 18:20] KillerOfPie commented on #133
We're planning to add this as an add-on plugin. Still no ETA.

[2022-05-30 13:21] SparklingComet commented on #135
Wdym "user"? You mean admin, right? As in it is set in the config, not individually by players for their own shop

[2022-05-30 19:38] KillerOfPie opened #136 "Hopper Improvements"
- Block placement of hoppers below a shop if the placer does not have Owner(possibly Manager+) permissions
- Add per shop settings for import/export if the server has them enabled
- Add limiter settings to allow/block product, cost, and/or other items from hopper import/export
- Add player settings to be able to set default for placed shops settings(import/export)

[2022-05-30 20:52] KillerOfPie commented on #135
My bad, yes. fixed it above

[2022-06-12 21:37] KillerOfPie opened #137 "No Cost Improvements"
- Add per-shop setting for the shop to not require a cost item
- Add command (`/ts setFree`?) to change a shop into free-mode that doesn't require a cost item
- This will apply to Trade and iTrade shops only(no BiTrade) and will only be effective if cost items are present for the shop(in order to use must set free-mode to enabled and not set a cost or must remove all costs)
- Modify trade code to

[2022-06-12 21:44] KillerOfPie opened #138 "Permission improvements"
- Register all permissions using getPluginManager#addPermission
- Add default state and description to all permissions in the enum
- If Permissions properly work without a permissions plugin and with internal-permissions disabled then remove internal permissions.

Test Points:
- Permissions should now show up in Luckperms auto-fill
- Permissions may work without a permissions plugin and with inter

[2022-06-12 21:50] SparklingComet commented on #138
|Name|Enabled by default?|
|------|------|
|Help | :heavy_check_mark:|
| Create | :heavy_check_mark: |
| Create Infinite | :x: |
| Create Bi | :heavy_check_mark: |
| Admin | :x: |
| Edit | :heavy_check_mark: |
| Info | :heavy_check_mark: |
| Manage Plugin | :x: |
| Prevent Trade -> Trade | :heavy_check_mark:|

[2022-06-12 21:51] SparklingComet commented on #138
we might not need the "internal level" anymore

[2022-06-12 21:52] SparklingComet commented on #138
Also, I think the default status should **not** be made configurable

[2022-06-13 03:19] KillerOfPie commented on #138
`If Permissions properly work without a permissions plugin and with internal-permissions disabled then remove internal permissions.` yes.

Agreed.

Prevent Trade should be replaced with Trade which would be enabled by default, edited your table to reflect this since I will probably build off of that.

[2022-06-21 20:19] KillerOfPie commented on #104
I'm planning on adding this(with some changes) to 2.7.0. Below are the changes and some addition things that may also be added after RocketManKian#8769 and I discussed things on Discord.

1. There will be (at least) 4 new GUI style shops; GUI-Trade, GUI-BiTrade, GUI-ITrade, GUI-OrTrade(new type)
2. When clicked these shops will open a GUI similar to the `what` menu.
For Trade, BiTrade, and ITrade:

[2022-06-21 20:35] KillerOfPie opened #139 "[FEATURE] Trade-Confirmations"
- Add new Player setting(disabled by default) That would force they player to interact with the same shop twice(in the same way) to perform a trade.
- Interaction 1 would send the player a message detailing the trade and add the shop to a Map<Player, Tuple<ShopLocation, Interaction>> with the interaction made.
- Interaction 2 would remove the shop from the map and perform the action `IF` the actio

[2022-07-16 22:00] dtawales opened #141 "Certain items not registering In Stock"
### Expected behavior

Magenta and Purple stained glass, when correctly set up into a chest shop, should show in stock when the required quantity is placed inside the chest.

### Observed/Actual behavior

Magenta and Purple stained glass show out of stock despite having the required quantity in the tradeshop chest.

### Steps/models to reproduce

[trade]   then /ts addproduct X amount of purple/ma

[2022-07-16 22:59] KillerOfPie commented on #141
Pretty sure this problem was already reported and fixed in the latest dev build. Please try using that on a test server if possible.

[2022-07-28 03:28] FireController1847 opened #142 "Add support for LWCX"
### Is your feature request related to a problem?

No

### Describe the solution you'd like.

I'd like for members added via LWCX to automatically have permission as "Member" levels. Maybe even players added via LWCX's "admin" level, could be given the "Manager" level equivalent in this plugin.

### Describe alternatives you've considered.

I do not have any alternative ideas.

### Agreements

- [

[2022-08-07 15:13] Ryne9732 opened #143 "Compare Durability Bugged"
### Expected behavior

When flipping the Compare Durability option for an armor piece it should allow me to trade any durability of armor for the product

### Observed/Actual behavior

When I close the menu the compare durability flips back to green and I cant trade how I want.

### Steps/models to reproduce

Set armor piece as cost. change compare duribility, close window and reopen and its chang

[2022-08-20 01:25] DaddyRobLIVE commented on #136
+1 please implement this so we don't need need to use other chest protection plugins and it would be easier for us to restock our shops.

[2022-08-20 01:26] DaddyRobLIVE commented on #133
+1

[2022-08-20 05:23] KillerOfPie commented on #136
![Screenshot_20220819-222016_Chrome](https://user-images.githubusercontent.com/7243280/185730268-a6412185-0ab8-4842-852b-db0c0636b644.jpg)
Already implemented in the dev version

[2022-08-20 13:09] DaddyRobLIVE commented on #136
Ohhh thanks for quoting it.

[2022-10-07 14:02] TremxNeo opened #144 "Hopper Issue (1.19.2)"
### Expected behavior

Hoppers don't extract/import items when it is disabled

### Observed/Actual behavior

Hoppers still extract/import items when it is disabled

### Steps/models to reproduce

1. Use minecraft 1.19.2
2. Create a tradeshop
3. Put hopper above/below chest
4. Items are still moved

### Plugin list

Chunky, ChunkyBorder, CraftControl-RCON*, dynmap, floodgate, Geyser-Spigot, Graves,

[2022-10-07 15:42] SparklingComet commented on #144
For the sake of troubleshooting please try the latest Dev build and see if it works.

// Edit:
Do not keep the Dev build after you test it, please report your findings and then switch back to the stable version.

[2022-10-07 18:29] KillerOfPie commented on #144
Pretty sure I changed how hoppers work in the latest dev version, so not only should it work there should be improvements.

[2022-10-08 03:42] TremxNeo commented on #144
I tested the latest dev build and it shows the same result

https://user-images.githubusercontent.com/67651877/194686428-7fe9cbec-48a2-4056-ac63-a671a3e13097.mp4

[2022-10-12 02:47] KillerOfPie commented on #144
While looking at the sign, use `/ts edit`, then select settings? I think it is, there should be an export setting there try toggling that.

[2022-11-23 05:23] KillerOfPie commented on #143
Been super busy, sorry I missed this.

This may be fixed in the dev version/next release. If not let me know and I will find it when I have time.

[2022-11-25 09:11] BoyStijn opened #145 "Config Creation causes issues"
### Expected behavior

The config creates itself and gets loaded without issue

### Observed/Actual behavior

some pre-comments aren't properly commented out

### Steps/models to reproduce

run the latest dev version

### Plugin list

TradeShop
EssentialsX

### TradeShop version and Minecraft version (CraftBukkit/Spigot/Paper/...)

1.19.2
TradeShop-2.6.0-DEV-2022-11-25T03.51.47

### Agreements

-

[2022-11-25 09:32] BoyStijn commented on #145
After fixing the config the following error appeared when trying to finalize a shop

`java.lang.NullPointerException: Cannot invoke "org.bukkit.inventory.ItemStack.getType()" because the return value of "org.shanerx.tradeshop.item.ShopItemStack.getItemStack()" is null
        at org.shanerx.tradeshop.shop.Shop.lambda$fixSide$9(Shop.java:971) ~[TradeShop-2.6.0-DEV-2022-11-25T03.51.47.jar:?]

[2022-11-25 15:58] BoyStijn commented on #145
above issue can be fixed by adding `unloadData();` on all ShopItemStack changes and creation
(ItemStack wasn't being serialized)

[2022-11-25 17:23] BoyStijn commented on #145
Also `userEditableKey` contains a captital E, but the methods `getMapped...` use `.toLowerCase()` so it can never retrieve if a value is user editable

[2022-11-25 19:16] KillerOfPie commented on #145
Can you send me the config file with errors so I can try to find why those comments aren't appearing. Adding here or send on discord is fine.

[2022-11-25 19:29] KillerOfPie commented on #145
I think I fixed this, added unload before serializing s it should always run wen it's needed.

[2022-11-25 19:41] BoyStijn commented on #145
No longer have the broken config but:
`global-options:
      chest-directions:
        pre-comment: "Directions an allowed shop can be from a sign. Multiple directions can be chained together allowing all 26 blocks surrounding a block to be checked. \nTo Chain directions just add a '+' between each one. i.e 'Back+Left' or 'Back+Left+Up' \nAllowed directions are:\n Up, Down, Left, Right, Back, Fron

[2022-11-25 19:43] KillerOfPie commented on #145
Maybe fixed, changed userEditable to user-editable

[2022-11-25 19:44] BoyStijn commented on #145
Maybe you did locally but its not in the public build

[2022-11-25 19:45] KillerOfPie commented on #145
itll be up once im done with all the fixes

[2022-11-25 19:48] BoyStijn commented on #145
misread that. My bad

[2022-11-25 19:55] KillerOfPie commented on #145
Got them all updated, going to change the jar on the last dev release. You'll probably need to regenerate the config files. If there re still uncommented lines then send me the file before you make changes to it.

[2022-11-25 19:59] KillerOfPie commented on #145
updated https://github.com/Tradeshop/TradeShop/releases/tag/TradeShop-2.6.0-DEV-2022-11-25T19.56.03

[2022-11-25 20:13] BoyStijn commented on #145
serialize() never gets called so it still doesn't serialize itemstacks

[2022-11-25 20:21] BoyStijn commented on #145
adding it here:
`public ShopItemStack(ItemStack itemStack, HashMap<ShopItemStackSettingKeys, ObjectHolder<?>> itemSettings) {
        this.itemStack = itemStack;
        this.itemSettings = itemSettings;
        buildMap();
    }`
 Seems to work

[2022-11-25 20:32] BoyStijn commented on #145
you also missed the `userEditableKey` in ShopSettingKeys

[2022-11-25 20:36] KillerOfPie commented on #145
Serialize should be called by gson when this object is stored in another object being serialized. @SparklingComet Correct me if im wrong on that.

Not sure what you mean by that seeming to work?

Edit: Never mind I see what you're saying. gonna look again

I had them both open too....fixed now

[2022-11-25 20:40] BoyStijn commented on #145
![image](https://user-images.githubusercontent.com/34859097/204053310-3cbfaee8-9865-4c16-9c28-f833ea26df00.png)
IntelliJ cant find any usage and the item doesn't get serialized

i mean putting `unloadData()` at the end of the constructor serializes the item properly

[2022-11-25 20:47] BoyStijn commented on #145
`public static class Serializer implements JsonDeserializer<MutableComponent>, JsonSerializer<Component> {`
This is how minecraft does custom serialization

[2022-11-25 20:49] KillerOfPie commented on #145
Yea that's normal. We don't reference serialize, its something that GSON calls on objects it's serializing.

It does but it's unnecessary until the object is getting stored, making it a waste of resource(shouldn't be a noticeable amount so im going to do it anyways, but not my preferred method of doing it).

We don't use minecraft serialization in any cases outside of debugging and ItemStacks(star

[2022-11-25 20:53] KillerOfPie commented on #145
dev release updated

[2022-11-25 20:54] BoyStijn commented on #145
Minecraft also uses GSON.  Unless GSON uses reflection to get serialization and deserialization you would have to implement the interfaces

other [website](https://futurestud.io/tutorials/gson-advanced-customizing-de-serialization-and-adding-instance-creators-via-jsonadapter) also show it when making custom serialization

[2022-11-25 20:59] BoyStijn commented on #145
Anyway all seems to work now. Keep up the good work, the plugin is amazing

[2022-11-25 20:59] #145 closed, assigned to KillerOfPie

[2022-11-25 21:00] KillerOfPie commented on #145
Doesn't matter what Minecraft uses, we Serialize directly through GSON and not through Minecrafts interfaces.

Let me know if you find anything, want to release the beta asap.

[2022-11-25 21:02] BoyStijn commented on #145
so does minecraft `JsonDeserializer<T>` and `JsonSerializer<T>` are from `com.google.gson`

[2022-11-25 22:08] KillerOfPie commented on #145
JsonDeserializer<MutableComponent> and JsonSerializer<Component> may be from GSON but we don't use them. We use Serializable from java.io to mark objects and basic GSON serialization rather than making custom serializers.

Minecraft serialization is pretty inconsistent. Using ItemStack as an example, serializing the object(using its serialize method) returns a map rather than a directly readable o

[2022-11-26 08:29] BoyStijn commented on #145
This is because thats not minecraft serialization, but rather bukkits one. Minecraft stores most data as NBT and has custom (de)serializers for that. JSON is mainly used for parsing datapacks and chat messages

[2022-11-26 08:37] BoyStijn commented on #145
Just to test my theory i removed the `java.io.Serializable` interface as well as the (de)serialization methods from the Shop and ShopItemStack class. The saved shop data that resulted from this
`{
  "l::world::-12.0::87.0::-16.0": {
    "owner": {
      "player": "554fadce-4a58-42e7-91e9-f6bf2a02a546",
      "role": "OWNER"
    },
    "managers": [],
    "members": [],
    "shopType": "TRADE",

[2022-11-26 09:13] BoyStijn commented on #145
made a [pull request](https://github.com/Tradeshop/TradeShop/pull/146) to cleanup the unused (de)serialization methods
Tested it on a clean paper server. Save Data is the same, no errors as well

[2022-11-28 01:44] KillerOfPie commented on #143
Fixed in the latest dev release

[2022-11-28 01:44] #143 closed, assigned to KillerOfPie